extends layout.pug

block append styles
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Istok+Web:400,700' rel='stylesheet')
    link(rel='stylesheet' href='assets/css/canvas/bootstrap.css')
    link(rel='stylesheet' href='assets/css/canvas/style.css')
    link(rel='stylesheet' href='assets/css/canvas/dark.css')
    link(rel='stylesheet' href='assets/css/canvas/font-icons.css')
    link(rel='stylesheet' href='assets/css/canvas/animate.css')
    link(rel='stylesheet' href='assets/css/canvas/magnific-popup.css')
    link(rel='stylesheet' href='assets/css/canvas/components/ion.rangeslider.css')
    link(rel='stylesheet' href='assets/css/canvas/responsive.css')
    link(rel='stylesheet' href='assets/css/colors.php?color=44aaac')
    link(rel='stylesheet' href='demos/hosting/fonts.css')
    link(rel='stylesheet' href='demos/hosting/hosting.css')
    
    #wrapper.clearfix
      #top-bar.center.dark(style='background-color: #15888a')
        p.mb-0.text-white(style='font-size: 14px;')
          | Holisticly cultivate multifunctional quality vectors after Mobile SDK.
          a.ml-2.font-primary.t700.text-white(href='#')
            u Learn More
            |  ›
      
      header#header.full-header.transparent-header.dark(data-sticky-class='not-dark')
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            #logo
              a.standard-logo(href='index.html', data-dark-logo='images/logo-dark.png')
                img(src='images/logo.png', alt='Canvas Logo')
              a.retina-logo(href='index.html', data-dark-logo='images/logo-dark@2x.png')
                img(src='images/logo@2x.png', alt='Canvas Logo')
            nav#primary-menu.not-dark.with-arrows
              ul.not-dark
                li.current
                  a(href='#')
                    div Home
                li.mega-menu
                  a(href='#')
                    div Hosting
                 
                   .mega-menu-content.style-2.border-top-0.clearfix
                    
                    ul.mega-menu-column.col-lg-3
                      li
                        .feature-box.not-dark.fbox-small.fbox-center.nobottommargin
                          .fbox-icon
                            img.noradius.nobg.tleft(src='demos/hosting/images/svg/web.svg', alt, style='width: 52px;')
                          h3.t500
                            a(href='#') Web Hosting
                          p.d-none.d-lg-block.mb-0.t300 Is a type of Internet hosting service that allows individuals and organizations to make their website accessible via the World Wide Web.
                          a.btn.btn-link.mt-2.color.p-0(href='#') Learn More ›
                    
                    ul.mega-menu-column.col-lg-3
                      li
                        .feature-box.not-dark.fbox-small.fbox-center.nobottommargin
                          .fbox-icon
                            img.noradius.nobg.tleft(src='demos/hosting/images/svg/cloud.svg', alt, style='width: 52px;')
                          h3.t500
                            a(href='#') Cloud Hosting
                          p.d-none.d-lg-block.mb-0.t300 The major benefit cloud hosting offers over shared hosting is that it allows you to utilize the resources of multiple servers.
                          a.btn.btn-link.mt-2.color.p-0(href='#') Learn More ›
                   
                   ul.mega-menu-column.col-lg-3
                      li
                        .feature-box.not-dark.fbox-small.fbox-center.nobottommargin
                          .fbox-icon
                            img.noradius.nobg.tleft(src='demos/hosting/images/svg/dedicated.svg', alt, style='width: 52px;')
                          h3.t500
                            a(href='#') Dedicated Hosting
                          p.d-none.d-lg-block.mb-0.t300 Dedicated server or managed hosting service is a type of Internet hosting in which the client leases an entire server not shared with anyone.
                          a.btn.btn-link.mt-2.color.p-0(href='#') Learn More ›
                    
                    ul.mega-menu-column.col-lg-3
                      li
                        .feature-box.not-dark.fbox-small.fbox-center.nobottommargin
                          .fbox-icon
                            img.noradius.nobg.tleft(src='demos/hosting/images/svg/shared.svg', alt, style='width: 52px;')
                          h3.t500
                            a(href='#') Shared Hosting
                          p.d-none.d-lg-block.mb-0.t300 Shared Web Hosting service refers to a web hosting service where many websites reside on one web server connected to the Internet.
                          a.btn.btn-link.mt-2.color.p-0(href='#') Learn More ›
                li
                  a(href='#')
                    div Services
                li
                  a(href='#')
                    div Domains
                li
                  a(href='#')
                    div FAQs
                li
                  a(href='#')
                    div Contact
              
              a.button.bg-white.text-dark.button-light.button-rounded.color(href='#') Sign Up
           
           section#slider.slider-element.bg-angle
        
        img.img-map.parallax(src='demos/hosting/images/svg/map-light.svg', alt, data-0='opacity: 0.05;margin-top:0px', data-800='opacity: 0.5;margin-top:150px')
        
        .cloud-wrap
          .c1
            .cloud
          .c2
            .cloud
          .c3
            .cloud
          .c4
            .cloud
          .c5
            .cloud
        
        .vertical-middle.ignore-header.dark
          .container
            .row.justify-content-between.align-items-center
              .col-md-5
                .slider-title
                  h2.text-white.text-rotater.mb-3(data-separator=',', data-rotate='fadeIn', data-speed='3500')
                    | Build your own
                    br
                    span.t-rotate.text-white Awesome,Beautiful,Great
                    |  Website.
                  p Dramatically syndicate end-to-end leadership skills for virtual solutions. Assertively transform high-payoff ideas rather than virtual process improvements.
                a.button.bg-white.text-dark.button-light.button-rounded.button-large.color.ml-0(href='#')
                  | Create Account 
                  i.icon-line-arrow-right.t600
              .col-md-5.d-none.d-md-block
                img(src='demos/hosting/images/3.png', alt)
      
      section#content
        .content-wrap.nopadding
          .container.clearfix
            
            .row.justify-content-center.slider-box-wrap.clearfix
              .col-10
                .slider-bottom-box
                  .row.align-items-center.clearfix
                    .col-lg-4.mb-3.mb-lg-0
                      h2.mb-3.h1.t300 Features
                      p.t400.text-muted.mb-0 Enthusiastically orchestrate orthogonal core competencies before processes.
                    .col-lg-4.col-sm-6
                      ul.iconlist.m-0
                        li
                          img.mr-2(src='demos/hosting/images/svg/checked.svg', width='20', height='20', alt)
                          | Assertively Fabricate.
                        li.pt-3
                          img.mr-2(src='demos/hosting/images/svg/checked.svg', width='20', height='20', alt)
                          | Distinctively disseminate.
                        li.pt-3
                          img.mr-2(src='demos/hosting/images/svg/checked.svg', width='20', height='20', alt)
                          | Appropriately predominate.
                    .col-lg-4.col-sm-6
                      ul.iconlist.m-0
                        li.pt-3.pt-lg-0
                          img.mr-2(src='demos/hosting/images/svg/checked.svg', width='20', height='20', alt)
                          | Competently facilitate synergist
                        li.pt-3
                          img.mr-2(src='demos/hosting/images/svg/checked.svg', width='20', height='20', alt)
                          | Front-end leadership skills.
                        li.pt-3
                          img.mr-2(src='demos/hosting/images/svg/checked.svg', width='20', height='20', alt)
                          | Infomediaries with front-end
            
            .heading-block.center.topmargin-lg.divcenter.nobottomborder.clearfix(style='max-width: 700px')
              h2 We provide best services for you.
              p Competently recaptiualize multifunctional schemas without an expanded array of niches. Continually engage cooperative sources vis-a-vis web-enabled benefits.
            .clear
            .row.mt-4.clearfix
              .col-lg-4.col-md-6.mb-5
                .feature-box.not-dark.fbox-small
                  .fbox-icon
                    img.noradius.nobg.tleft(src='demos/hosting/images/svg/web.svg', alt, style='height: 52px;')
                  h3.t500.text-dark Web Hosting
                  p.t300 Is a type of Internet hosting service that allows individuals and organizations to make their website accessible via the World Wide Web.
              .col-lg-4.col-md-6.mb-5
                .feature-box.not-dark.fbox-small
                  .fbox-icon
                    img.noradius.nobg.tleft(src='demos/hosting/images/svg/cloud.svg', alt, style='height: 52px;')
                  h3.t500.text-dark Cloud Hosting
                  p.t300 The major benefit cloud hosting offers over shared hosting is that it allows you to utilize the resources of multiple servers.
              .col-lg-4.col-md-6.mb-5
                .feature-box.not-dark.fbox-small
                  .fbox-icon
                    img.noradius.nobg.tleft(src='demos/hosting/images/svg/dedicated.svg', alt, style='height: 52px;')
                  h3.t500.text-dark Dedicated Hosting
                  p.t300 Dedicated server or managed hosting service is a type of Internet hosting in which the client leases an entire server not shared.
              .col-lg-4.col-md-6
                .feature-box.not-dark.fbox-small.mb-5
                  .fbox-icon
                    img.noradius.nobg.tleft(src='demos/hosting/images/svg/shared.svg', alt, style='height: 52px;')
                  h3.t500.text-dark Shared Hosting
                  p.t300 Shared Web Hosting service refers to a web hosting service where many websites reside on one web server connected to the Internet.
              .col-lg-4.col-md-6
                .feature-box.not-dark.fbox-small.mb-5
                  .fbox-icon
                    img.noradius.nobg.tleft(src='demos/hosting/images/svg/domain.svg', alt, style='height: 52px;')
                  h3.t500.text-dark Domain Registration
                  p.t300 Shared Web Hosting service refers to a web hosting service where many websites reside on one web server connected to the Internet.
              .col-lg-4.col-md-6
                .feature-box.not-dark.fbox-small.mb-5
                  .fbox-icon
                    img.noradius.nobg.tleft(src='demos/hosting/images/svg/activation.svg', alt, style='height: 52px;')
                  h3.t500.text-dark Instant Activation
                  p.t300 Shared Web Hosting service refers to a web hosting service where many websites reside on one web server connected to the Internet.
          
          .section.section-domain.mt-4.mb-3(style='background: #F5F5F5 url(\'demos/hosting/images/pattern-dark.png\') repeat center center;')
            .container
              .row.justify-content-between.align-items-center
                .col-md-5
                  .heading-block.mb-0.nobottomborder.clearfix
                    h3.ls0.nott Looking For Your Premium Domain?
                    p.mb-0 Competently recaptiualize multifunctional schemas without an expanded array of niches. Continually engage cooperative.
                .col-md-6.mt-4.mt-lg-0
                  .input-group.input-group-lg
                    input.form-control(type='text', placeholder='Your New Domain Name', aria-label='Enter Domain Name')
                    .input-group-append
                      select.custom-select#inputGroupSelect01
                        option(value='com', selected) .com
                        option(value='org') .org
                        option(value='net') .net
                        option(value='info') .info
                        option(value='us') .us
                    .input-group-append
                      button.btn.bgcolor.text-white.dark Search
          
          .section.nomargin.nobg
            .container.clearfix
              .heading-block.center.mt-0.divcenter.nobottomborder.clearfix(style='max-width: 700px')
                h2 We provide best services for you.
                p Competently recaptiualize multifunctional schemas without an expanded array of niches. Continually engage cooperative sources vis-a-vis web-enabled benefits.
              .row
                .col-lg-5.col-md-6
                  .heading-block.mt-md-3.mt-0
                    .before-heading.color Our Network
                    h3.nott.ls0 16 TBPS Capacity and 140 Data Center Global Network
                  .row
                    .col-6
                      ul.iconlist.ml-0
                        li
                          img(src='demos/hosting/images/flags/uk.png', alt)
                          a(href='#') United Kingdom
                        li
                          img(src='demos/hosting/images/flags/us.png', alt)
                          a(href='#') USA
                        li
                          img(src='demos/hosting/images/flags/br.png', alt)
                          a(href='#') Brazil
                        li
                          img(src='demos/hosting/images/flags/sa.png', alt)
                          a(href='#') South Africa
                        li
                          img(src='demos/hosting/images/flags/in.png', alt)
                          a(href='#') India
                    .col-6
                      ul.iconlist.ml-0
                        li
                          img(src='demos/hosting/images/flags/si.png', alt)
                          a(href='#') Singapore
                        li
                          img(src='demos/hosting/images/flags/ja.png', alt)
                          a(href='#') Japan
                        li
                          img(src='demos/hosting/images/flags/au.png', alt)
                          a(href='#') Australia
                        li
                          img(src='demos/hosting/images/flags/ca.png', alt)
                          a(href='#') Canada
                        li
                          a(href='#') See More..
                .col-lg-7.col-md-6
                  #hotspot-img.hotspot-img.mt-2.responsive-hotspot-wrap
                    img.img-responsive(src='demos/hosting/images/svg/map.png', alt)
                    //  Circle #1 
                    .hot-spot(x='1970', y='830')
                      .circle
                      .tooltip
                        p singapore
                    //  Circle #2 
                    .hot-spot(x='330', y='522')
                      .circle
                      .tooltip
                        p San Fransisco
                    //  Circle #3 
                    .hot-spot(x='2350', y='1110')
                      .circle
                      .tooltip
                        p Sydney
                    //  Circle #4 
                    .hot-spot(x='1222', y='395')
                      .circle
                      .tooltip
                        p London
                    //  Circle #5 
                    .hot-spot(x='1800', y='760')
                      .circle
                      .tooltip
                        p Bangalore
                    //  Circle #6 
                    .hot-spot(x='2250', y='560')
                      .circle
                      .tooltip
                        p Tokyo
                    //  Circle #7 
                    .hot-spot(x='1366', y='1134')
                      .circle
                      .tooltip
                        p Cape Town
                    //  Circle #8 
                    .hot-spot(x='880', y='990')
                      .circle
                      .tooltip
                        p Brasilla
                    //  Circle #8 
                    .hot-spot(x='710', y='395')
                      .circle
                      .tooltip
                        p Toronto
          .section.bg-angle.notopmargin(style='background: #F9F9F9 url(\'demos/hosting/images/pattern-dark.png\') repeat center center; padding: 80px 0')
            .container.clearfix
              .heading-block.center.mt-0.divcenter.nobottomborder.clearfix(style='max-width: 750px')
                h2 Hosting that scales with your Business
                p Competently recaptiualize multifunctional schemas without an expanded array of niches. Continually engage cooperative sources vis-a-vis web-enabled benefits.
              .row.mb-2.align-items-stretch
                .col-lg-8.col-md-8
                  .row.align-items-stretch.clearfix
                    .col-md-12
                      .row.align-items-stretch
                        .col-md-8.col-sm-8
                          .card.mb-4
                            .card-body
                              .d-flex.justify-content-between
                                h4.mb-4 vCPU
                              input.range-slider-cpu
                        .col-md-4.col-sm-4.d-none.d-sm-flex.card.bgcolor.text-white.text-center.mb-4
                          .card-body
                            h2.cpu-price.text-white.mb-0.t700
                            p.card-text.mb-0(style='opacity: .8;')
                              | $10 
                              span.font-italic per vCPU
                      .row.align-items-stretch
                        .col-md-8.col-sm-8
                          .card.mb-4
                            .card-body
                              .d-flex.justify-content-between
                                h4.mb-4 Ram
                              input.range-slider-ram
                        .col-md-4.col-sm-4.d-none.d-sm-flex.card.bgcolor.text-white.text-center.mb-4
                          .card-body
                            h2.ram-price.text-white.mb-0.t700
                            p.card-text.mb-0(style='opacity: .8;')
                              | $8 
                              span.font-italic per RAM
                      .row.align-items-stretch
                        .col-md-8.col-sm-8
                          .card
                            .card-body
                              .d-flex.justify-content-between
                                h4.mb-4 Storage
                              input.range-slider-storage
                        .col-md-4.col-sm-4.d-none.d-sm-flex.card.bgcolor.text-white.text-center
                          .card-body
                            h2.storage-price.text-white.mb-0.t700
                            p.card-text.mb-0(style='opacity: .8;')
                              | $.5 
                              span.font-italic per Storage
                .col-lg-4.col-md-4.mt-4.mt-md-0
                  .card.text-center
                    .card-body.py-4
                      h3.card-title.t400 Your Plan
                      .pricing-price.t600.py-2
                      p.card-text.pricing-sub Billed Monthly
                    .line.my-1
                    .card-body.py-4
                      ul.iconlist.ml-0(style='opacity: .8')
                        li Un-Mitered Bandwith
                        li 2 Dedicated IPs
                        li Shared SSL certificate
                        li 30 Days Money Back
                      a.button.button-rounded.button-large.ls0.t400.m-0.nott(href='#') Order Now
              .clear
              .row.mt-5.clearfix
                .col-lg-3.col-sm-6
                  h4.t500.mb-3 Free Includes:
                  ul.iconlist.price-compare.mb-2
                    li
                      a.t300(href='#') Unmetered Mitigation of DDoS
                    li
                      a.t300(href='#') Global CDN
                    li
                      a.t300(href='#') Shared SSL certificate
                    li
                      a.t300(href='#') I'm Under Attack™ mode
                    li
                      a.t300(href='#') Access to account Audit Logs
                  a.btn.btn-link.mt-2.t400.color.p-0(href='#', style='font-size: 14px') All Features ›
                .col-lg-3.col-sm-6.mt-4.mt-sm-0
                  h4.t500.mb-3 Pro Includes:
                  ul.iconlist.price-compare.mb-2
                    li
                      a.t300(href='#') 100 GB of disk space
                    li
                      a.t300(href='#') 1000 GB/mo data transfer
                    li
                      a.t300(href='#') 1 domain + 100 subdomains
                    li
                      a.t300(href='#') 10 site pages
                    li
                      a.t300(href='#') 5 email addresses
                    li
                      a.t300(href='#') Site design tools
                    li
                      a.t300(href='#') Account access for colleagues/friends
                  a.btn.btn-link.mt-2.t400.color.p-0(href='#', style='font-size: 14px') All Features ›
                .col-lg-3.col-sm-6.mt-4.mt-lg-0
                  h4.t500.mb-3 Business Includes:
                  ul.iconlist.price-compare.mb-2
                    li
                      a.t300(href='#') Unlimited site pages
                    li
                      a.t300(href='#') 10 email addresses
                    li
                      a.t300(href='#') 500 GB of disk space
                    li
                      a.t300(href='#') 5000 GB/mo data transfer
                    li
                      a.t300(href='#') 1 domain + 500 subdomains
                    li
                      a.t300(href='#') Secure FTP File Manager
                    li
                      a.t300(href='#') WordPress blogging
                    li
                      a.t300(href='#') PHP 5.3.6, Perl 5.8.7, MySQL 5.1
                  a.btn.btn-link.mt-2.t400.color.p-0(href='#', style='font-size: 14px') All Features ›
                .col-lg-3.col-sm-6.mt-4.mt-lg-0
                  h4.t500.mb-3 Advanced Includes:
                  ul.iconlist.price-compare.mb-2
                    li
                      a.t300(href='#') 20 email addresses
                    li
                      a.t300(href='#') Unlimited disk space
                    li
                      a.t300(href='#') Unlimited data transfer
                    li
                      a.t300(href='#') Private registration
                    li
                      a.t300(href='#') Named solution and customer success engineers Access to China data centers (additional cost)
                    li
                      a.t300(href='#') 30-day satisfaction guarantee
                    li
                      a.t300(href='#') 24/7 phone, chat and online support
                  a.btn.btn-link.mt-2.t400.color.p-0(href='#', style='font-size: 14px') All Features ›
          .container.clearfix
            .row.clearfix
              .col-md-12
                .before-heading Other Additional Services
                h3 Highly Available Services
                .row
                  .col-md-6
                    .feature-box.p-4.media-box(style='border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;')
                      .fbox-media
                        img(src='demos/hosting/images/svg/balancing.svg', style='width: 42px;', alt)
                      .fbox-desc
                        h3.ls0 Load Balancing
                        p.mt-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita sint explicabo quis at voluptatum autem, cupiditate officiis maxime deserunt soluta! consectetur adipisicing elit.
                      a.btn.btn-link.mt-3.t400.color.p-0(href='#', style='font-size: 16px;')
                        | $15/month for Load Balancing 
                        i.icon-line-arrow-right.position-relative(style='top: 2px')
                    .feature-box.p-4.topmargin-sm.media-box(style='border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;')
                      .fbox-media
                        img(src='demos/hosting/images/svg/location.svg', style='width: 42px;', alt)
                      .fbox-desc
                        h3.ls0 Location Zone
                        p.mt-2 Distinctively enhance front-end outsourcing after cross-platform synergy. Interactively implement an expanded array of collaboration and idea-sharing and innovative bandwidth.
                      a.btn.btn-link.mt-3.t400.color.p-0(href='#', style='font-size: 16px;')
                        | $5/month for Location 
                        i.icon-line-arrow-right.position-relative(style='top: 2px')
                  .col-md-6
                    .feature-box.p-4.mt-4.mt-sm-0.media-box(style='border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;')
                      .fbox-media
                        img(src='demos/hosting/images/svg/ssl.svg', style='width: 42px;', alt)
                      .fbox-desc
                        h3.ls0 Dedicated SSL Certificate
                        p.mt-2 Assertively harness stand-alone communities through front-end networks. Globally engage plug-and-play sources through multidisciplinary portals. Enthusiastically synergize orthogonal.
                      a.btn.btn-link.mt-3.t400.color.p-0(href='#', style='font-size: 16px;')
                        | $7/month for SSL Certificate 
                        i.icon-line-arrow-right.position-relative(style='top: 2px')
                    .feature-box.p-4.topmargin-sm.media-box(style='border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;')
                      .fbox-media
                        img(src='demos/hosting/images/svg/team.svg', style='width: 42px;', alt)
                      .fbox-desc
                        h3.ls0 Team Accounts
                        p.mt-2 Uniquely harness prospective information through long-term high-impact portals. Rapidiously enable principle-centered users rather than inexpensive sources. Distinctively enhance front-end outsourcing.
                      a.btn.btn-link.mt-3.t400.color.p-0(href='#', style='font-size: 16px;')
                        | $4/month for Team 
                        i.icon-line-arrow-right.position-relative(style='top: 2px')
          .clear
          .section
            .container
              .heading-block.center.mt-2.mb-3.divcenter.nobottomborder.clearfix(style='max-width: 700px')
                .before-heading See what Our Customers say
                h2 3,583 Happy Users & Counting
              #oc-testimonials.owl-carousel.center.testimonials-carousel.testimonial-full.carousel-widget.mt-5(data-margin='0', data-items-xs='1', data-items-sm='1', data-items-md='1', data-items-lg='2', data-items-xl='3', data-center='true', data-loop='true', data-autoplay='4000', data-speed='500')
                .oc-item
                  .testimonial.p-4.noborder.noshadow
                    .testi-image
                      a(href='#')
                        img(src='demos/hosting/images/users/1.jpg', alt='Customer Testimonails')
                    ul.list-unstyled.ml-0.mt-4.mb-2
                      li.color
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star-half-full
                    .testi-content
                      p.font-body.font-normal Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!
                      .testi-meta
                        | 
John Doe

                        span XYZ Inc.
                .oc-item
                  .testimonial.p-4.noborder.noshadow
                    .testi-image
                      a(href='#')
                        img(src='demos/hosting/images/users/2.jpg', alt='Customer Testimonails')
                    ul.list-unstyled.ml-0.mt-4.mb-2
                      li.color
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star-empty
                    .testi-content
                      p.font-body.font-normal Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.
                      .testi-meta
                        | 
Collis Ta'eed

                        span Envato Inc.
                .oc-item
                  .testimonial.p-4.noborder.noshadow
                    .testi-image
                      a(href='#')
                        img(src='demos/hosting/images/users/5.jpg', alt='Customer Testimonails')
                    ul.list-unstyled.ml-0.mt-4.mb-2
                      li.color
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                    .testi-content
                      p.font-normal.font-body Fugit officia dolor sed harum excepturi ex iusto magnam asperiores molestiae qui natus obcaecati facere sint amet.
                      .testi-meta
                        | 
Mary Jane

                        span Google Inc.
                .oc-item
                  .testimonial.p-4.noborder.noshadow
                    .testi-image
                      a(href='#')
                        img(src='demos/hosting/images/users/4.jpg', alt='Customer Testimonails')
                    ul.list-unstyled.ml-0.mt-4.mb-2
                      li.color
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                    .testi-content
                      p.font-normal.font-body Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?
                      .testi-meta
                        | 
Steve Jobs

                        span Apple Inc.
                .oc-item
                  .testimonial.p-4.noborder.noshadow
                    .testi-image
                      a(href='#')
                        img(src='demos/hosting/images/users/3.jpg', alt='Customer Testimonails')
                    ul.list-unstyled.ml-0.mt-4.mb-2
                      li.color
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star3
                        |  
                        i.icon-star-empty
                    .testi-content
                      p.font-normal.font-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, perspiciatis illum totam dolore deleniti labore.
                      .testi-meta
                        | 
Jamie Morrison

                        span Adobe Inc.
          .section.mt-3.mb-4.pt-0.nobg
            .container.clearfix
              .divcenter(style='max-width: 1000px')
                .heading-block.center.divcenter.nobottomborder.clearfix(style='max-width: 700px')
                  .before-heading Already with Us
                  h2 Trusted By
                  p Competently recaptiualize multifunctional schemas without an expanded array of niches. Continually engage cooperative sources vis-a-vis web-enabled benefits.
                .row.clearfix
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients(src='demos/hosting/images/clients/1.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients(src='demos/hosting/images/clients/2.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients.mt-5.mt-sm-0(src='demos/hosting/images/clients/3.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients.mt-5.mt-sm-0(src='demos/hosting/images/clients/4.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients.mt-5(src='demos/hosting/images/clients/5.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients.mt-5(src='demos/hosting/images/clients/6.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients.mt-5(src='demos/hosting/images/clients/7.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients.mt-5(src='demos/hosting/images/clients/8.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients.mt-5(src='demos/hosting/images/clients/9.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients.mt-5(src='demos/hosting/images/clients/10.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients.mt-5(src='demos/hosting/images/clients/11.png', alt)
                  .col-sm-3.col-6.center
                    a(href='#')
                      img.clients.mt-5(src='demos/hosting/images/clients/12.png', alt)
          .section.bgcolor.dark.m-0
            .container
              .row.center.justify-content-center
                .col-md-8
                  h2.t700.text-white.mb-3 Get Better Hosting Now. Try Free for 10 days.
                .col-md-8
                  a.button.center.bg-white.color.button-light.button-rounded.button-large.ml-0(href='#') Sign Up for free
      //  #content end 
      footer#footer.dark
        .container
          .footer-widgets-wrap.pb-4.clearfix
            .row
              .col-md-4.col-sm-6.mb-0.mb-sm-4.mb-md-0
                .widget.clearfix
                  h4 About Canvas
                  p We believe in Simple, Creative & Flexible Design Standards.
                  div(style='background: url(\'images/world-map.png\') no-repeat left center; background-size: auto 100%;')
                    address
                      strong Headquarters:
                      br
                      | 
795 Folsom Ave, Suite 600
                      br
                      | 
San Francisco, CA 94107
                      br
                    abbr(title='Phone Number')
                      strong Phone:
                    |  (91) 8547 632521
                    br
                    abbr(title='Email Address')
                      strong Email:
                    |  info@canvas.com

              .col-md-3.col-6.mt-5.mt-sm-0
                .widget.clearfix
                  h4 Features
                  ul.list-unstyled.iconlist.ml-0
                    li
                      a(href='http://codex.wordpress.org/') Documentation
                    li
                      a(href='http://wordpress.org/support/forum/requests-and-feedback') Feedback
                    li
                      a(href='http://wordpress.org/extend/plugins/') Plugins
                    li
                      a(href='http://wordpress.org/support/') Support Forums
                    li
                      a(href='http://wordpress.org/extend/themes/') Themes
                    li
                      a(href='http://wordpress.org/news/') WordPress Blog
                    li
                      a(href='http://planet.wordpress.org/') WordPress Planet
              .col-md-3.col-6.mt-5.mt-sm-0
                .widget.clearfix
                  h4 Social
                  ul.list-unstyled.iconlist
                    li
                      i.icon-facebook
                      a(href='http://facebook.com/semicolonweb', target='_blank')  Facebook
                    li
                      i.icon-twitter
                      a(href='http://twitter.com/__semicolon', target='_blank')  Twitter
                    li
                      i.icon-instagram
                      a(href='http://instagram.com/semicolonweb', target='_blank')  Instagram
                    li
                      i.icon-youtube
                      a(href='https://www.youtube.com/user/shank20121/videos', target='_blank')  YouTube
                    li
                      i.icon-xing
                      a(href='#')  Xing
                    li
                      i.icon-github
                      a(href='#')  Github
              .col-md-2.col-sm-6.mt-4.mt-sm-0
                .widget.clearfix
                  h4 Support
                  ul.list-unstyled.iconlist.ml-0
                    li
                      a(href='#') Help Center
                    li
                      a(href='#') Paid with Mollie
                    li
                      a(href='#') Status
                    li
                      a(href='#') Changelog
                    li
                      a(href='#') Contact Support
          //  .footer-widgets-wrap end 
          .line.line-sm.m-0
        #copyrights.nobg
          .container.clearfix
            .col_half
              | 
Copyrights © 2014 All Rights Reserved by Canvas Inc.
              br
              .copyright-links
                a(href='#') Terms of Use
                |  / 
                a(href='#') Privacy Policy
            .col_half.col_last.tright
              .copyrights-menu.copyright-links.clearfix
                a(href='#') Home
                | /
                a(href='#') About Us
                | /
                a(href='#') Team
                | /
                a(href='#') Clients
                | /
                a(href='#') FAQs
                | /
                a(href='#') Contact
    #gotoTop.icon-angle-up

    block append scripts
    
    script(src='js/jquery.js')
    script(src='js/plugins.js')
    script(src='js/jquery.hotspot.js')
    script(src='js/components/rangeslider.min.js')
    script(src='js/functions.js')
    script.
      
      jQuery(document).ready( function() {
      			var pricingCPU = 1,
      				pricingRAM = 1,
      				pricingStorage = 10,
      				elementCPU = $(".range-slider-cpu"),
      				elementRAM = $(".range-slider-ram"),
      				elementStorage = $(".range-slider-storage");
      
      			elementCPU.ionRangeSlider({
      				grid: false,
      				values: [1,2,4,6,8],
      				postfix: ' Core',
      				onStart: function(data){
      					pricingCPU = data.from_value;
      				}
      			});
      
      			elementCPU.on( 'change', function(){
      				pricingCPU = $(this).prop('value');
      				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
      			});
      
      			elementRAM.ionRangeSlider({
      				grid: false,
      				step: 1,
      				min: 1,
      				from:1,
      				max: 32,
      				postfix: ' GB',
      				onStart: function(data){
      					pricingRAM = data.from;
      					console.log(data);
      				}
      			});
      
      			elementRAM.on( 'onStart change', function(){
      				pricingRAM = $(this).prop('value');
      				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
      			});
      
      			elementStorage.ionRangeSlider({
      				grid: false,
      				step: 10,
      				min: 10,
      				max: 100,
      				postfix: ' GB',
      				onStart: function(data){
      					pricingStorage = data.from;
      				}
      			});
      
      			elementStorage.on( 'change', function(){
      				pricingStorage = $(this).prop('value');
      				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
      			});
      
      			calculatePrice( pricingCPU, pricingRAM, pricingStorage );
      
      			function calculatePrice( cpu, ram, storage ) {
      				var pricingValue = ( Number(cpu) * 10 ) + ( Number(ram) * 8 ) + ( Number(storage) * 0.5 );
      				jQuery('.cpu-value').html(pricingCPU);
      				jQuery('.ram-value').html(pricingRAM);
      				jQuery('.storage-value').html(pricingStorage);
      				jQuery('.cpu-price').html('$'+pricingCPU * 10);
      				jQuery('.ram-price').html('$'+pricingRAM * 8);
      				jQuery('.storage-price').html('$'+pricingStorage * 0.5);
      				jQuery('.pricing-price').html( '$'+pricingValue );
      			}
      		});
      
      		jQuery(window).on( 'load', function(){
      			$('#hotspot-img').hotSpot();
      		});
      
