extends layout.pug

block append styles
  link(rel='stylesheet' href='assets/css/Footer-Dark.css')
  
block body
  div.header-blue
    nav.navbar.navbar-dark.navbar-expand-md.navigation-clean-search
      .container
        img(src='assets/img/Cyber Hawk Logo.png' alt='Cyber Hawk Logo' width='75' height='75')
        a.navbar-brand(href='') Cyber Hawk 
        button.navbar-toggler(href='' data-toggle='collapse' data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.nav-item(role='presentation')
              a.nav-link.active(href='services') Services
              li.nav-item(role='presentation')
              a.nav-link(href='app-estimate') Pricing
           
          form.form-inline.mr-auto(target='_self')
            //- .form-group
            //-   label(for='search-field')
            //-     i.fa.fa-search
            //-   input#search-field.form-control.search-field(type='search' name='search')
          if !user
            span.navbar-text
              // Button trigger modal
              //a.btn.btn-primary.login(role='button' href='/login')
              button.btn.btn-primary.login(type='button' data-toggle='modal' data-target='#loginModal')
                | Login
            a.btn.btn-light.action-button(role='button' href='/signup') Sign Up
          else
            span.navbar-text
              a.dashboard-link.btn.btn-outline-light.action-button(href='dashboard' style='color:#dddddd;') Dashboard
    .container.hero
      .row
        .col-12.col-lg-6.col-xl-5.offset-xl-1
          h1 The Cyber Hawk revolution is here.
          p
            | Local experts from every field of IT came together.  
            br
            | The purpose - to help businesses grow and build things people use.
          a(href='#services')
            button.btn.btn-light.btn-lg.action-button(type='button') Our Services
        .col-md-5.col-lg-5.offset-lg-1.offset-xl-0.d-none.d-lg-block.phone-holder
          .iphone-mockup
            img.device(src='assets/img/iphone.svg')
            .screen
  .features-clean
    .container
      .intro
        h2#services.text-center Cyber Hawk is an IT company, digital agency and engineering hub.
        p.text-center
          | We believe that you should feel confident that you're getting professional level IT services.
      .row.features
        .col-sm-6.col-lg-4.item
          i.far.fa-window-maximize.icon
          h3.name Website Development
          p.description
            | Whether your business model is the next Uber, want an online store or just want something attractive for clients to visit. Our specialty is creating a feature filled online brand presense. 
        .col-sm-6.col-lg-4.item
          i.fa.fa-user-secret.icon
          h3.name Cyber Security
          p.description
            | In a world where technology is every changing, you want to be sure that your system's integrity, availabily and confidentiality is never at risk. 
        .col-sm-6.col-lg-4.item
          i.fa.fa-toolbox.icon
          h3.name Computer Repairs
          p.description
            | Is your computer, printer or other machine experiencing hardware or software problems? Our specialists are here.
        .col-sm-6.col-lg-4.item
          i.fa.fa-image.icon
          h3.name Graphic Designing
          p.description
            | Graphic helps to set the tone for how we look at a businesses and attracts us to what they have to offer. From logo design, Company Branding to photography and video editing - just let us know.
        .col-sm-6.col-lg-4.item
          i.fa.fa-sitemap.icon
          h3.name Networking
          p.description
            |From home to office we will offer all your networking needs.
        .col-sm-6.col-lg-4.item
          i.fa.fa-mobile-alt.icon
          h3.name Mobile Development
          p.description
            | Reach your market in the place where they're most avialable and make your key services more readily available. Keep your brand on top by offering a Mobile App.
  .highlight-phone
    .container
      .row
        .col-md-8
          .intro
            h2 Contact Us
            p
              | We would like to get to know you and your business in order to create solutions that you'll love. 
              br
              br
              | Call: +1 (268) 764-8480
              br
              | Email: 
              a(href='mailto:CyberHawkSolutions@gmail.com') CyberHawkSolutions@gmail.com
        .col-sm-4
          .d-none.d-md-block.iphone-mockup
            img.device(src='assets/img/iphone.svg')
            .screen
  section#services(style='padding:28px;background-color:#ffffff;')
    .container
      .row
        .col-lg-12.text-center(style='padding:0px;height:137px;')
          h2.section-heading Lets Push Boundaries - Together
          h3.section-subheading.text-muted Making your brand vision become a reality is what we do but why not push your idea further?
      .row.text-center
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-user-tie.fa-stack-1x.fa-inverse
          h4.service-heading Consulting
          p.text-muted
            | Want to know how to make your ideas a reality? Get professional advice backed by experienced innovators. 
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-project-diagram.fa-stack-1x.fa-inverse
          h4.service-heading Project management and execution
          p.text-muted
            | Talk to us and lets get your project started or back on track.
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-store-alt.fa-stack-1x.fa-inverse
          h4.service-heading Your needs first
          p.text-muted
            | We will beat anyone else's price while providing much more. 
  .footer-dark
    footer
      .container
        .row
          .col-sm-6.col-md-3.item
            h3 Services
            ul
              li
                a(href='#') Web design
              li
                a(href='#') Development
              li
                a(href='#') Hosting
          .col-sm-6.col-md-3.item
            h3 About
            ul
              li
                a(href='/about') Company
              li
                a(href='#') Team
          .col-md-6.item.text
            h3 Contact Us
            p
              | 1(268)480-2420
          .col.item.social
            a(href='#')
              i.icon.ion-social-facebook
            a(href='#')
              i.icon.ion-social-twitter
            a(href='#')
              i.icon.ion-social-snapchat
            a(href='#')
              i.icon.ion-social-instagram
        p.copyright Cyber Hawk Inc. &copy; 2018
    //.form-container
      //.image-holder
      //form(method='post')
        //h2.text-center
          //strong Create
          //|  an account.
        //.form-group
          //input.form-control(type='email' name='email' placeholder='Email')
        //.form-group
          //input.form-control(type='password' name='password' placeholder='Password')
        //.form-group
          //input.form-control(type='password' name='password-repeat' placeholder='Password (repeat)')
        //.form-group
          //.form-check
            //label.form-check-label
              //input.form-check-input(type='checkbox')
              //| I agree to the license terms.
        //.form-group
          //button.btn.btn-primary.btn-block(type='submit') Sign Up
        //a.already(href='#') You already have an account? Login here.
  //.brands
    //a(href='#')
      //img(src='assets/img/instacart.png')
      //img(src='assets/img/kickstarter.png')
      //img(src='assets/img/lyft.png')
      //img(src='assets/img/shopify.png')
      //img(src='assets/img/pinterest.png')
      //img(src='assets/img/twitter.png')
    // Modal
  #loginModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='loginModal' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Login
            img(src='assets/img/Cyber Hawk Logo.png' alt='Cyber Hawk Logo' width='65' height='65') 
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          form(method='POST' action='/login')
            .modal-body
              input.form-group.form-control(type='text' name='username' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')
              input.form-group.form-control(type='password' name='password' placeholder='Password' aria-label='Password' aria-describedby='basic-addon2')
            .modal-footer
              button.btn.btn-primary(type='submit' ) Login
block append scripts 
  script(src='/assets/js/App-Features-Carousel.js')


