<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="technology, software, app development, networking, printers, cyber security" />
    <meta name="copyright" content="Cyberhawk Solutions" />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Cyberhawk Solutions - backed by top innovators" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://cyberhawksolutions.com" />
    <meta property="og:image" content="http://cyberhawksolutions.com/assets/img/Cyber%20Hawk%20Logo.png" />
    <meta name="revised" content="Tuesday, July 18th, 2018, 5:15 pm" />
    <meta name="abstract" content="" />
    <meta name="topic" content="" />
    <meta name="summary" content="A wide range of high quality IT services from industry experts." />
    <meta name="Classification" content="Business" />
    <meta name="author" content="Canice James, ecanicthedeveloper@gmail.com" />
    <meta name="designer" content="Canice James, ecanicthedeveloper@gmail.com" />
    <meta name="reply-to" content="info@pjaguar.com" />
    <meta name="owner" content="" />
    <meta name="url" content="http://cyberhawksolutions.com" />
    <meta name="identifier-URL" content="http://cyberhawksolutions.com" />
    <meta name="image" content="http://cyberhawksolutions.com/assets/img/Cyber%20Hawk%20Logo.png" />
    <meta name="description" content="Web and App Development, Cyber Security, Network Engineering and more." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" />
    <link rel="stylesheet" href="/assets/css/App-Features-Carousel.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Brands.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Features-Clean.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Header-Blue.css" />
    <link rel="stylesheet" href="/assets/css/Highlight-Phone.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Services.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Team-Boxed.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Team-Clean.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
  <meta name="theme-color" content="#018ca7">



	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700Istok+Web:400,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />

	<link rel="stylesheet" href="assets/css/canvas/dark.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/animate.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="assets/css/canvas/components/ion.rangeslider.css" type="text/css" />

	<link rel="stylesheet" href="assets/css/canvas/responsive.css" type="text/css" />
	<meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

	<!-- Hosting Demo Specific Stylesheet -->
	<link rel="stylesheet" href="assets/css/canvas/colors.php?color=018ca7" type="text/css" /> <!-- Theme Color 018ca7 -->
	<link rel="stylesheet" href="assets/hosting/css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="assets/hosting/hosting.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/custom.css" type="text/css" />
	<!-- / -->

	<!-- Document Title
	============================================= -->
	<title>CyberHawk Solutions - backed by experienced innovators</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="center dark" style="background-color: #018ca7">
			<p class="mb-0 text-white" style="font-size: 14px;">Holistically create a website that is made to withstand 10+ years of functionality.<a href="http://cyberhawksolutions.com/pricing" class="ml-2 font-primary t700 text-white"><u>Learn More</u> &#8250;</a></p>
		</div>

		<!-- Header
		============================================= -->
		<header id="header" class="full-header transparent-header dark" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="#" class="standard-logo" data-dark-logo="assets/images/logo.png"><img  src="assets/images/logo.png" alt="CyberHawk Logo"></a>
						<a href="#" class="retina-logo" data-dark-logo="assets/images/logo.png"><img   src="assets/images/logo.png" alt="CyberHawk Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="not-dark with-arrows">

						<ul class="not-dark">
							<li class="current"><a href="http://cyberhawksolutions.com/pricing"><div>Home</div></a></li>
							<li class="mega-menu"><a href="http://cyberhawksolutions.com/pricing"><div>Services</div></a>
								<!-- Mega Menu Content
								============================================= -->
								<div class="mega-menu-content style-2 border-top-0 clearfix">
									<!-- Mega Menu Col 1 -->
									<ul class="mega-menu-column col-lg-3">
										<li>
											<div class="feature-box not-dark fbox-small fbox-center nobottommargin">
												<div class="fbox-icon">
													<img src="assets/hosting/images/svg/web.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
												</div>
												<h3 class="t500"><a href="http://cyberhawksolutions.com/pricing">Website Designing</a></h3>
												<p class="d-none d-lg-block mb-0 t300">Get your beautiful webesite designed and brought to life. We will make it accessible via the World Wide Web!</p>
												<a href="http://cyberhawksolutions.com/pricing" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
											</div>
										</li>
									</ul>
									<!-- Mega Menu Col 2 -->
									<ul class="mega-menu-column col-lg-3">
										<li>
											<div class="feature-box not-dark fbox-small fbox-center nobottommargin">
												<div class="fbox-icon">
													<img src="assets/hosting/images/svg/cloud.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
												</div>
												<h3 class="t500"><a href="http://cyberhawksolutions.com/pricing">Database Management</a></h3>
												<p class="d-none d-lg-block mb-0 t300">Protect your customers data and operate your online business with an ease-of-mind.</p>
												<a href="http://cyberhawksolutions.com/pricing" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
											</div>
										</li>
									</ul>
									<!-- Mega Menu Col 3 -->
									<ul class="mega-menu-column col-lg-3">
										<li>
											<div class="feature-box not-dark fbox-small fbox-center nobottommargin">
												<div class="fbox-icon">
													<img src="assets/hosting/images/svg/dedicated.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
												</div>
												<h3 class="t500"><a href="http://cyberhawksolutions.com/pricing">Website Hosting</a></h3>
												<p class="d-none d-lg-block mb-0 t300">Get a catchy domain and a place to store your website in one package with full control. We'll do all the hard work and acquisition for you.</p>
												<a href="http://cyberhawksolutions.com/pricing" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
											</div>
										</li>
									</ul>
									<!-- Mega Menu Col 4 -->
									<ul class="mega-menu-column col-lg-3">
										<li>
											<div class="feature-box not-dark fbox-small fbox-center nobottommargin">
												<div class="fbox-icon">
													<img src="assets/hosting/images/svg/shared.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
												</div>
												<h3 class="t500"><a href="http://cyberhawksolutions.com/pricing">Graphic Designing</a></h3>
												<p class="d-none d-lg-block mb-0 t300">You need to connect with your audience using your brand. Get Top designers creating your logo and branding  #TheCyberhawkWay</p>
												<a href="http://cyberhawksolutions.com/pricing" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
											</div>
										</li>
									</ul>
								</div>
							</li>


							<li><a><div>Pricing</div></a>
										<ul>
											<li><a href="http://cyberhawksolutions.com/pricing"><div>Websites</div></a></li>
											<li><a href="http://cyberhawksolutions.com/pricing"><div>iOS & Android Apps</div></a></li>
										</ul>
									</li>
									
							<li ><a href="http://cyberhawksolutions.com/pricing"><div>Showcase</div></a>

							<ul>
									<li><a><div>Small Websites</div></a>
										<ul>
											
												<li><a href="http://mheights.house"><div>Majestic Heights - Real Estate</div></a></li>
												<li><a href="http://environmenttourismconsulting.com"><div>Environment Tourism Consulting</div></a></li>
												<li><a href="http://edgile.info"><div>EDGILE Software - USA</div></a></li>
												<li><a href="http://nadisapp.org"><div>NADIS (Disaster Prevention)</div></a></li>
												<li><a href="http://goc.pjaguar.com"><div>Project Jaguar GOC</div></a></li>
												<li><a href="http://quik-serve.com"><div>QuikServe</div></a></li>
										</ul>
									</li>
									<li><a><div>Large Websites</div></a>
<ul>
												<li><a href="http://abiit.edu.ag"><div>Antigua & Barbuda International Institute of Technology (ABIIT) </div></a></li>
												<li><a href="https://abiitcentral.wordpress.com/"><div>ABIIT Central - Student Blog </div></a></li>
												<li><a href="http://entrepeneloper.com"><div>Entrepeneloper Community </div></a></li>
												<li><a href="http://mindaz.asia"><div>MindAmaze for Singapore</div></a></li>
												<li><a href="http://pjaguar.com"><div>Project Jaguar Intl.</div></a></li>
												<li><a href="http://web.pjaguar.com"><div>Project Jaguar Web</div></a></li>
</ul>
									</li>
									<li><a><div>Android/iOS Apps</div></a>
                                                <ul>
													
												<li><a href="#"><div>QuikServe App</div></a></li>
												<li><a href="#"><div>Project Jaguar App</div></a></li>
												<li><a href="#"><div>ABIIT Student App</div></a></li>
												</ul>
									</li>
								</ul>
								
							</li>
							
						</ul>

						<!-- Top Search
						============================================= -->
						<a href="http://cyberhawksolutions.com/pricing" class="button bg-white text-dark button-light button-rounded color">Get Quote</a>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-angle">

			<!-- Slider Background Map
			============================================= -->
			<img class="img-map parallax" src="assets/hosting/images/svg/map-light.svg" alt="" data-0="opacity: 0.05;margin-top:0px" data-800="opacity: 0.5;margin-top:150px">

			<!-- Slider Background Cloud
			============================================= -->
			<div class="cloud-wrap">
				<div class="c1"><div class="cloud"></div></div>
				<div class="c2"><div class="cloud"></div></div>
				<div class="c3"><div class="cloud"></div></div>
				<div class="c4"><div class="cloud"></div></div>
				<div class="c5"><div class="cloud"></div></div>
			</div>

			<!-- Slider Titiles
			============================================= -->
			<div class="vertical-middle ignore-header dark">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-md-5">
							<div class="slider-title">
								<h2 class="text-white text-rotater mb-3" data-separator="," data-rotate="fadeIn" data-speed="3500">Get your own<br> <span class="t-rotate text-white">Awesome,Beautiful,Great</span> Website.</h2>
								<p>Elevate your business functionality & reputation with a custom-made website that is designed to plant the perfect first impression. Make revenue quicker the #CyberhawkWay.</p>
							</div>
							<a href="http://cyberhawksolutions.com/pricing" class="button bg-white text-dark button-light button-rounded button-large color ml-0">Order your website<i class="icon-line-arrow-right t600"></i></a>
						</div>
						<div class="col-md-5 d-none d-md-block">
							<img src="assets/hosting/images/3.png" alt="">
						</div>
					</div>
				</div>
			</div>

		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nopadding">

				<div class="container clearfix">

					<!-- Slider negetive Box
					============================================= -->
					<div class="row justify-content-center slider-box-wrap clearfix">
						<div class="col-10">
							<div class="slider-bottom-box">
								<div class="row align-items-center clearfix">
									<div class="col-lg-4 mb-3 mb-lg-0">
										<h2 class="mb-3 h1 t300">What we do?</h2>
										<p class="t400 text-muted mb-0">Enthusiastically develop software for successful businesses.</p>
									</div>
									<div class="col-lg-4 col-sm-6">
										<ul class="iconlist m-0">
											<li><img src="assets/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Domain purchasing.</li>
											<li class="pt-3"><img src="assets/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Website hosting.</li>
											<li class="pt-3"><img src="assets/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">10+ year support.</li>
										</ul>
									</div>
									<div class="col-lg-4 col-sm-6">
										<ul class="iconlist m-0">
											<li class="pt-3 pt-lg-0"><img src="assets/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Client service representatives.</li>
											<li class="pt-3"><img src="assets/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Project management skills.</li>
											<li class="pt-3"><img src="assets/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Full-stack development.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Features Section
					============================================= -->
					<div class="heading-block center topmargin-lg divcenter nobottomborder clearfix" style="max-width: 700px">
						<h2>We know what you need.</h2>
						<p>web-enabled benefits.</p>
					</div>
					<div class="clear"></div>
					<div class="row mt-4 clearfix">
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="feature-box not-dark fbox-small">
								<div class="fbox-icon">
									<img src="assets/hosting/images/svg/web.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">Website Hosting</h3>
								<p class="t300">Get a domain and website hosting in one package with full control for flexibility. We'll do all the hard work and acquisition for you.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="feature-box not-dark fbox-small">
								<div class="fbox-icon">
									<img src="assets/hosting/images/svg/cloud.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">Website Designing</h3>
								<p class="t300">Get your beautiful, functional webesite designed and brought to life. We will also make it accessible via the World Wide Web!</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="feature-box not-dark fbox-small">
								<div class="fbox-icon">
									<img src="assets/hosting/images/svg/dedicated.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">Hardware Repair</h3>
								<p class="t300">Is your computer, printer or other machine experiencing hardware or software problems? Our specialists are here.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark fbox-small mb-5">
								<div class="fbox-icon">
									<img src="assets/hosting/images/svg/shared.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">Cyber Security</h3>
								<p class="t300">Make your connection to the Internet safer with our security enhancement for your existing/new website.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark fbox-small mb-5">
								<div class="fbox-icon">
									<img src="assets/hosting/images/svg/domain.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">Domain Registration</h3>
								<p class="t300">Get a domain for your website with full control for flexibility. We'll do all the hard work and acquisition for you.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark fbox-small mb-5">
								<div class="fbox-icon">
									<img src="assets/hosting/images/svg/activation.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">SSL Verification</h3>
								<p class="t300">We'll get you an SSL certificate for legitimacy of your company's online presence.</p>
							</div>
						</div>
					</div>

				</div>

				<!-- Domain Section
				============================================= -->
				<div class="section section-domain mt-4 mb-3" style="background: #F5F5F5 url('assets/hosting/images/pattern-dark.png') repeat center center;">
					<div class="container">
						<div class="row justify-content-between align-items-center">
							<div class="col-md-5">
								<div class="heading-block mb-0 nobottomborder clearfix">
									<h3 class="ls0 nott">Looking For Your Premium Domain?</h3>
									<p class="mb-0">We work with Google to find the perfect domain for you and ensure the best SEO.</p>
								</div>
							</div>
							<div class="col-md-6 mt-4 mt-lg-0">
								<div class="input-group input-group-lg">
									<input type="text" class="form-control" placeholder="Your New Domain Name" aria-label="Enter Domain Name">
									<div class="input-group-append">
										<select class="custom-select" id="inputGroupSelect01">
											<option value=".com" selected>.com</option>
											<option value=".org">.org</option>
											<option value=".net">.net</option>
											<option value=".info">.info</option>
											<option value=".us">.us</option>
										</select>
									</div>
									<div class="input-group-append">
										<a href="http://domains.google.com">
										
										<button class="btn bgcolor text-white dark">Search</a></button>
									</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Loaction Section
				============================================= -->
				<div class="section nomargin nobg">
					<div class="container clearfix">
						<div class="heading-block center mt-0 divcenter nobottomborder clearfix" style="max-width: 700px">
							<h2>We provide best network for you.</h2>
							<p>We'll help get you connected with the right people from our network to grow your business.</p>
						</div>
						<div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="heading-block mt-md-3 mt-0">
									<div class="before-heading color">Our Network</div>
									<h3 class=" nott ls0">We have a competent team and clientele from around the world.</h3>
								</div>
								<div class="row">
									<div class="col-6">
										<ul class="iconlist ml-0">
											<li><img src="assets/hosting/images/flags/uk.png" alt=""><a href="http://cyberhawksolutions.com/pricing">United Kingdom</a></li>
											<li><img src="assets/hosting/images/flags/us.png" alt=""><a href="http://cyberhawksolutions.com/pricing">USA</a></li>
											<li><img src="assets/hosting/images/flags/ag.png" alt=""><a href="http://cyberhawksolutions.com/pricing">Antigua & Barbuda</a></li>
											<li><img src="assets/hosting/images/flags/sa.png" alt=""><a href="http://cyberhawksolutions.com/pricing">South Africa</a></li>
										</ul>
									</div>
									<div class="col-6">
										<ul class="iconlist ml-0">
											<li><img src="assets/hosting/images/flags/si.png" alt=""><a href="http://cyberhawksolutions.com/pricing">Singapore</a></li>
											<li><img src="assets/hosting/images/flags/ja.png" alt=""><a href="http://cyberhawksolutions.com/pricing">Japan</a></li>
											<li><img src="assets/hosting/images/flags/ca.png" alt=""><a href="http://cyberhawksolutions.com/pricing">Canada</a></li>
											<li><img src="assets/hosting/images/flags/in.png" alt=""><a href="http://cyberhawksolutions.com/pricing">India</a></li>
											
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-7 col-md-6">
								<div id="hotspot-img" class="hotspot-img mt-2 responsive-hotspot-wrap">
							<img src="assets/hosting/images/svg/map.png" class="img-responsive" alt="">

							<!-- Circle #1 -->
							<div class="hot-spot" x="1970" y="830">
								<div class="circle"></div>
								<div class="tooltip"><p>Singapore</p></div>
							</div>
							<!-- Circle #2 -->
							<div class="hot-spot" x="330" y="522">
								<div class="circle"></div>
								<div class="tooltip"><p>San Fransisco</p></div>
							</div>
							<!-- Circle #3 -->
							<div class="hot-spot" x="780" y="680">
								<div class="circle"></div>
								<div class="tooltip"><p>Antigua</p></div>
							</div>
							<!-- Circle #4 -->
							<div class="hot-spot" x="1222" y="395">
								<div class="circle"></div>
								<div class="tooltip"><p>London</p></div>
							</div>
							<!-- Circle #5 -->
							<div class="hot-spot" x="1800" y="760">
								<div class="circle"></div>
								<div class="tooltip"><p>Bangalore</p></div>
							</div>
							<!-- Circle #6 -->
							<div class="hot-spot" x="2250" y="560">
								<div class="circle"></div>
								<div class="tooltip"><p>Tokyo</p></div>
							</div>
							<!-- Circle #7 -->
							<div class="hot-spot" x="1366" y="1134">
								<div class="circle"></div>
								<div class="tooltip"><p>Cape Town</p></div>
							</div>
							<!-- Circle #8 -->
							<div class="hot-spot" x="880" y="990">
								<div class="circle"></div>
								<div class="tooltip"><p>Brasilla</p></div>
							</div>
							<!-- Circle #8 -->
							<div class="hot-spot" x="710" y="395">
								<div class="circle"></div>
								<div class="tooltip"><p>Toronto</p></div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Pricing Section
				============================================= -->
				<div class="section bg-angle notopmargin" style="background: #F9F9F9 url('assets/hosting/images/pattern-dark.png') repeat center center; padding: 80px 0">
					<div class="container clearfix">
						<div class="heading-block center mt-0 divcenter nobottomborder clearfix" style="max-width: 750px">
							<h2>Need Hardware Maintenance?</h2>
							<p>When you already have a server or computer that needs regular check-ups and maintenance, get your maintenance estimate below.</p>
						</div>

						<div class="row mb-2 align-items-stretch">

							<div class="col-lg-8 col-md-8">

								<div class="row align-items-stretch clearfix">
									<div class="col-md-12">
										<!-- vCPU Section -->
										<div class="row align-items-stretch">
											<div class="col-md-8 col-sm-8">
												<div class="card mb-4">
													<div class="card-body">
														<div class="d-flex justify-content-between">
															<h4 class="mb-4">vCPU</h4>
														</div>
														<!-- CPU Slider
														============================================= -->
														<input class="range-slider-cpu" />
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 d-none d-sm-flex card bgcolor text-white text-center mb-4">
												<div class="card-body">
													<!-- CPU Price Value
													============================================= -->
													<h2 class="cpu-price text-white mb-0 t700"></h2>
													<p class="card-text mb-0" style="opacity: .8;">$10 <span class="font-italic">per vCPU</span></p>
												</div>
											</div>
										</div>

										<!-- RAM Section -->
										<div class="row align-items-stretch">
											<div class="col-md-8 col-sm-8">
												<div class="card mb-4">
													<div class="card-body">
														<div class="d-flex justify-content-between">
															<h4 class="mb-4">Ram</h4>
														</div>
														<!-- RAM Slider
														============================================= -->
														<input class="range-slider-ram" />
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 d-none d-sm-flex card bgcolor text-white text-center mb-4">
												<div class="card-body">
													<!-- RAM Proce Value
													============================================= -->
													<h2 class="ram-price text-white mb-0 t700"></h2>
													<p class="card-text mb-0" style="opacity: .8;">$8 <span class="font-italic">per RAM</span></p>
												</div>
											</div>
										</div>

										<!-- Storage Section -->
										<div class="row align-items-stretch">
											<div class="col-md-8 col-sm-8">
												<div class="card">
													<div class="card-body">
														<div class="d-flex justify-content-between">
															<h4 class="mb-4">Storage</h4>
														</div>
														<!-- Storage Slider
														============================================= -->
														<input class="range-slider-storage" />
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 d-none d-sm-flex card bgcolor text-white text-center">
												<div class="card-body">
													<!-- Storage Price Value
													============================================= -->
													<h2 class="storage-price text-white mb-0 t700"></h2>
													<p class="card-text mb-0" style="opacity: .8;">$.5 <span class="font-italic">per Storage</span></p>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<!-- Price Area -->
							<div class="col-lg-4 col-md-4 mt-4 mt-md-0">
								<div class="card text-center">
									<div class="card-body py-4">
										<h3 class="card-title t400">Your Plan</h3>
										<!-- Price Value -->
										<div class="pricing-price t600 py-2"></div>
										<p class="card-text pricing-sub">Billed Monthly</p>
									</div>
									<div class="line my-1"></div>
									<div class="card-body py-4">
										<ul class="iconlist ml-0" style="opacity: .8">
											<li>Un-Mitered Bandwith</li>
											<li>2 Dedicated IPs</li>
											<li>Shared SSL certificate</li>
											<li>30 Days Money Back</li>
										</ul>
										<a href="http://cyberhawksolutions.com/pricing" class="button button-rounded button-large ls0 t400 m-0 nott">Order Now</a>
									</div>
								</div>
							</div>

						</div>

						<div class="clear"></div>

						<div class="row mt-5 clearfix">
							<div class="col-lg-3 col-sm-6">
								<h4 class="t500 mb-3">Free Includes:</h4>
								<ul class="iconlist price-compare mb-2">
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Unmetered Mitigation of DDoS</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Global CDN</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Shared SSL certificate</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">I'm Under Attack™ mode</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Access to account Audit Logs</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-sm-6 mt-4 mt-sm-0">
								<h4 class="t500 mb-3">Pro Includes:</h4>
								<ul class="iconlist price-compare mb-2">
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">100 GB of disk space</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">1000 GB/mo data transfer</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">1 domain + 100 subdomains</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">10 site pages</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">5 email addresses</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Site design tools</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Account access for colleagues/friends</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-sm-6 mt-4 mt-lg-0">
								<h4 class="t500 mb-3">Business Includes:</h4>
								<ul class="iconlist price-compare mb-2">
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Unlimited site pages</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">10 email addresses</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">500 GB of disk space</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">5000 GB/mo data transfer</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">1 domain + 500 subdomains</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Secure FTP File Manager</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">WordPress blogging</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">PHP 5.3.6, Perl 5.8.7, MySQL 5.1</a></li>
								</ul>
							
							</div>
							<div class="col-lg-3 col-sm-6 mt-4 mt-lg-0">
								<h4 class="t500 mb-3">Advanced Includes:</h4>
								<ul class="iconlist price-compare mb-2">
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">20 email addresses</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Unlimited disk space</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Unlimited data transfer</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Private registration</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">Named solution and customer success engineers
									Access to China data centers (additional cost)</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">30-day satisfaction guarantee</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing" class="t300">24/7 phone, chat and online support</a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Addition Service Section
				============================================= -->
				<div class="container clearfix">
					<div class="row clearfix">
						<div class="col-md-12">
							<div class="before-heading">Other Additional Services</div>
							<h3>Highly Available Services</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
										<div class="fbox-media">
											<img src="assets/hosting/images/svg/balancing.svg" style="width: 42px;" alt="">
										</div>
										<div class="fbox-desc">
											<h3 class="ls0">Consulting</h3>
											<p class="mt-2">
												Want to know how to make your ideas a reality? Get professional advice backed by experienced innovators.

											</p>
										</div>
										<a href="http://cyberhawksolutions.com/pricing" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">FREE <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
									</div>

									<div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
										<div class="fbox-media">
											<img src="assets/hosting/images/svg/location.svg" style="width: 42px;" alt="">
										</div>
										<div class="fbox-desc">
											<h3 class="ls0">Project Management & Execution</h3>
											<p class="mt-2">Talk to us and lets get your project started or back on track. We love nicely asking developers about their progress.</p>
										</div>
										<a href="http://cyberhawksolutions.com/pricing" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">$50/month per project  <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
									</div>
								</div>

								<div class="col-md-6">
									<div class="feature-box p-4 mt-4 mt-sm-0 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
										<div class="fbox-media">
											<img src="assets/hosting/images/svg/ssl.svg" style="width: 42px;" alt="">
										</div>
										<div class="fbox-desc">
											<h3 class="ls0">Content Writing</h3>
											<p class="mt-2">Assertively harness stand-alone communities through front-end networks. Globally engage plug-and-play sources through multidisciplinary portals. Enthusiastically synergize orthogonal.</p>
										</div>
										<a href="http://cyberhawksolutions.com/pricing" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">$20 per 1000 words <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
									</div>

									<div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
										<div class="fbox-media">
											<img src="assets/hosting/images/svg/team.svg" style="width: 42px;" alt="">
										</div>
										<div class="fbox-desc">
											<h3 class="ls0">Team Acquisition</h3>
											<p class="mt-2">Uniquely harness prospective information through long-term high-impact portals. Rapidiously enable principle-centered users rather than inexpensive sources. Distinctively enhance front-end outsourcing.</p>
										</div>
										<a href="http://cyberhawksolutions.com/pricing" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">$4/month for Team <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>

				<!-- Testimonials Section
				============================================= -->
				<div class="section">
					<div class="container">

						<div class="heading-block center mt-2 mb-3 divcenter nobottomborder clearfix" style="max-width: 700px">
							<div class="before-heading">See what Our Customers say</div>
							<h2>183 Happy Customers &amp; Counting</h2>
						</div>

						<!-- Owl Carousel
						============================================= -->
						<div id="oc-testimonials" class="owl-carousel center testimonials-carousel testimonial-full carousel-widget mt-5" data-margin="0" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2" data-items-xl="3" data-center="true" data-loop="true" data-autoplay="4000" data-speed="500">

							<!-- Item 1 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="http://cyberhawksolutions.com/pricing"><img src="assets/hosting/images/users/1.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li></ul>
									<div class="testi-content">
										<p class="font-body font-normal">
											
											My real estate development company had a complete makeover from Cyberhawk. Very pleased
										</p>
										<div class="testi-meta">
											Sheon
											<span>Majestic Heights</span>
										</div>
									</div>
								</div>
							</div>

							<!-- Item 2 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="http://cyberhawksolutions.com/pricing"><img src="assets/hosting/images/users/2.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
									<div class="testi-content">
										<p class="font-body font-normal">
											As a database administrator, I can see that this team knows their theory and are very practical in delivery.
										</p>
										<div class="testi-meta">
											Valmont Hammond
											<span>Antigua and Barbuda Institute of Technology</span>
										</div>
									</div>
								</div>
							</div>

							<!-- Item 3 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="http://cyberhawksolutions.com/pricing"><img src="assets/hosting/images/users/5.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
									<div class="testi-content">
										<p class="font-normal font-body">
											As someone not so tech savvy, the process for getting my website up and running was really easy!
										</p>
										<div class="testi-meta">
											Micheal Joseph
											<span>MedicaPharma Supplies</span>
										</div>
									</div>
								</div>
							</div>

							<!-- Item 4 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="http://cyberhawksolutions.com/pricing"><img src="assets/hosting/images/users/4.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
									<div class="testi-content">
										<p class="font-normal font-body">
											The website we use currently took another company 1 year to do. Cyberhawk only took 2 months to complete it. 
										</p>
										<div class="testi-meta">
											Kimathi Halley
											<span>NADIS</span>
										</div>
									</div>
								</div>
							</div>

							<!-- Item 5 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="http://cyberhawksolutions.com/pricing"><img src="assets/hosting/images/users/3.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
									<div class="testi-content">
										<p class="font-normal font-body">
											Time is money, I was very happy when I got our website done ON TIME, which rarely happens in the industry.
										</p>
										<div class="testi-meta">
											Jamie Morrison
											<span>A&B Transport Board</span>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Trusted Client Section
				============================================= -->
				<div class="section mt-3 mb-4 pt-0 nobg">
					<div class="container clearfix">
						<div class="divcenter" style="max-width: 1000px">
							<div class="heading-block center divcenter nobottomborder clearfix" style="max-width: 700px">
								<div class="before-heading">Already with Us</div>
								<h2>Trusted By</h2>
								<p>The companies that we work with to bring amazing software into production</p>
							</div>
							<!-- Clients Images -->
							<div class="row clearfix">
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/cxcmathserieslogo.png" alt="" class="clients"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/edgilelogo.png" alt="" class="clients"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/entrepeneloper.png" alt="" class="clients mt-5 mt-sm-0"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/majesticheights.png" alt="" class="clients mt-5 mt-sm-0"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/mindamaze.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/nadislogo.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/OG.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/pjaguar.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/sowiso.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/unops.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/schquizlogo.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="http://cyberhawksolutions.com/pricing"><img src="assets/partners/stripelogo.png" alt="" class="clients mt-5"></a></div>
							</div>
						</div>
					</div>
				</div>

				<!-- Bottom Section
				============================================= -->
				<div class="section bgcolor dark m-0">
					<div class="container">
						<div class="row center justify-content-center">
							<div class="col-md-8">
								<h2 class="t700 text-white mb-3">Get Better Business Now. order your website and schedule a meeting.</h2>
							</div>
							<div class="col-md-8">
								<a href="http://cyberhawksolutions.com/pricing" class="button center bg-white color button-light button-rounded button-large ml-0">Order your website</a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap pb-4 clearfix">

					<div class="row">

						<div class="col-md-4 col-sm-6 mb-0 mb-sm-4 mb-md-0">

							<div class="widget clearfix">

								<h4>About Cyberhawk Solutions</h4>

								<p>We believe in Simple, Creative &amp; Flexible Design Standards.</p>

								<div style="background: url('images/world-map.png') no-repeat left center; background-size: auto 100%;">
									<address>
										<strong>Headquarters:</strong><br>
										#344 US CIS Base, Burma Road,<br>
										 St. Georges, Antigua W.I.<br>
									</address>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> +! 268 764-8480<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> info@cyberhawksolutions.com
								</div>

							</div>

						</div>

						<!--<div class="col-md-3 col-6 mt-5 mt-sm-0">

							<div class="widget clearfix">

								<h4>Features</h4>

								<ul class="list-unstyled iconlist ml-0">
									<li><a href="http://codex.wordpress.org/">Documentation</a></li>
									<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
									<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
									<li><a href="http://wordpress.org/support/">Support Forums</a></li>
									<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
									<li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
									<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
								</ul>

							</div>

						</div>-->

						<!-- <div class="col-md-3 col-6 mt-5 mt-sm-0">

							<div class="widget clearfix">

								<h4>Social</h4>

								<ul class="list-unstyled iconlist">
									<li><i class="icon-facebook"></i><a href="http://facebook.com/semicolonweb" target="_blank"> Facebook</a></li>
									<li><i class="icon-twitter"></i><a href="http://twitter.com/__semicolon" target="_blank"> Twitter</a></li>
									<li><i class="icon-instagram"></i><a href="http://instagram.com/semicolonweb" target="_blank"> Instagram</a></li>
									<li><i class="icon-youtube"></i><a href="https://www.youtube.com/user/shank20121/videos" target="_blank"> YouTube</a></li>
									<li><i class="icon-xing"></i><a href="http://cyberhawksolutions.com/pricing"> Xing</a></li>
									<li><i class="icon-github"></i><a href="http://cyberhawksolutions.com/pricing"> Github</a></li>
								</ul>

							</div>

						</div>-->

						<!--<div class="col-md-2 col-sm-6 mt-4 mt-sm-0">

							<div class="widget clearfix">

								<h4>Support</h4>

								<ul class="list-unstyled iconlist ml-0">
									<li><a href="http://cyberhawksolutions.com/pricing">Help Center</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing">Paid with Mollie</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing">Status</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing">Changelog</a></li>
									<li><a href="http://cyberhawksolutions.com/pricing">Contact Support</a></li>
								</ul>

							</div>

						</div>-->

					</div>

				</div><!-- .footer-widgets-wrap end -->

				<div class="line line-sm m-0"></div>

			</div>


			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2019 All Rights Reserved by Cyberhawk Solutions.<br>
						<div class="copyright-links"><a href="http://goc.pjaguar.com">Project Jaguar Fulfillment Partner</a> </div>
					</div>

					<div class="col_half col_last tright">
						<div class="copyrights-menu copyright-links clearfix">
							<!--<a href="http://cyberhawksolutions.com/pricing">Home</a>/<a href="http://cyberhawksolutions.com/pricing">About Us</a>/<a href="http://cyberhawksolutions.com/pricing">Team</a>/<a href="http://cyberhawksolutions.com/pricing">Clients</a>/<a href="http://cyberhawksolutions.com/pricing">FAQs</a>/<a href="http://cyberhawksolutions.com/pricing">Contact</a>
						--></div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/plugins.js"></script>

	<script src="assets/js/jquery.hotspot.js"></script>
	<script src="assets/js/components/rangeslider.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="assets/js/functions.js"></script>

	<script>
		jQuery(document).ready( function() {
			var pricingCPU = 1,
				pricingRAM = 1,
				pricingStorage = 10,
				elementCPU = $(".range-slider-cpu"),
				elementRAM = $(".range-slider-ram"),
				elementStorage = $(".range-slider-storage");

			elementCPU.ionRangeSlider({
				grid: false,
				values: [1,2,4,6,8],
				postfix: ' Core',
				onStart: function(data){
					pricingCPU = data.from_value;
				}
			});

			elementCPU.on( 'change', function(){
				pricingCPU = $(this).prop('value');
				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
			});

			elementRAM.ionRangeSlider({
				grid: false,
				step: 1,
				min: 1,
				from:1,
				max: 32,
				postfix: ' GB',
				onStart: function(data){
					pricingRAM = data.from;
					console.log(data);
				}
			});

			elementRAM.on( 'onStart change', function(){
				pricingRAM = $(this).prop('value');
				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
			});

			elementStorage.ionRangeSlider({
				grid: false,
				step: 10,
				min: 10,
				max: 100,
				postfix: ' GB',
				onStart: function(data){
					pricingStorage = data.from;
				}
			});

			elementStorage.on( 'change', function(){
				pricingStorage = $(this).prop('value');
				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
			});

			calculatePrice( pricingCPU, pricingRAM, pricingStorage );

			function calculatePrice( cpu, ram, storage ) {
				var pricingValue = ( Number(cpu) * 10 ) + ( Number(ram) * 8 ) + ( Number(storage) * 0.5 );
				jQuery('.cpu-value').html(pricingCPU);
				jQuery('.ram-value').html(pricingRAM);
				jQuery('.storage-value').html(pricingStorage);
				jQuery('.cpu-price').html('$'+pricingCPU * 10);
				jQuery('.ram-price').html('$'+pricingRAM * 8);
				jQuery('.storage-price').html('$'+pricingStorage * 0.5);
				jQuery('.pricing-price').html( '$'+pricingValue );
			}
		});

		jQuery(window).on( 'load', function(){
			$('#hotspot-img').hotSpot();
		});
	</script>

</body>
</html>