extends layout.pug

block body
  div.header-blue
    nav.navbar.navbar-dark.navbar-expand-md.navigation-clean-search
      .container
        img(src='assets/img/Cyber Hawk Logo.png' alt='Cyber Hawk Logo' width='75' height='75')
        a.navbar-brand(href='') Cyber Hawk 
        button.navbar-toggler(href='' data-toggle='collapse' data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.nav-item(role='presentation')
              a.nav-link.active(href='services') Services
              li.nav-item(role='presentation')
              a.nav-link(href='cost-estimator') Pricing
           
          form.form-inline.mr-auto(target='_self')
            .form-group
              label(for='search-field')
                i.fa.fa-search
              input#search-field.form-control.search-field(type='search' name='search')
          span.navbar-text
            // Button trigger modal
            button.btn.btn-primary.login(type='button' data-toggle='modal' data-target='#exampleModal')
              | Login

          a.btn.btn-light.action-button(role='button' href='/signup') Sign Up
    .container.hero
      .row
        .col-12.col-lg-6.col-xl-5.offset-xl-1
          h1 The Cyber Hawk revolution is here.
          p
            | Welcome to the Cyber Hawk webpage! Need help in implimenting an IT system or maybe building a website you are in the right place.
          button.btn.btn-light.btn-lg.action-button(type='button') Learn More
        .col-md-5.col-lg-5.offset-lg-1.offset-xl-0.d-none.d-lg-block.phone-holder
          .iphone-mockup
            img.device(src='assets/img/iphone.svg')
            .screen
  .features-clean
    .container
      .intro
        h2.text-center Services 
        p.text-center
          | We offer a number of I.T services and our quality assurance is guaranteed.
      .row.features
        .col-sm-6.col-lg-4.item
          i.fa.fa-map-marker.icon
          h3.name Website Development
          p.description
            | We do both front end as well as back end development. So you can rest assure that your new website will be equipt with the most up to date features on the market today.
        .col-sm-6.col-lg-4.item
          i.fa.fa-clock-o.icon
          h3.name Cyber Security
          p.description
            | In a world where technology is every changing, you want to be sure that hackers and other malicious predators cannot access your information. 
        .col-sm-6.col-lg-4.item
          i.fa.fa-list-alt.icon
          h3.name Computer Repairs
          p.description
            | Is your device or computer broken ? no worries we can diagnose and resolve these issues. We also install operating systems and special softwares.
        .col-sm-6.col-lg-4.item
          i.fa.fa-leaf.icon
          h3.name Graphic Designing
          p.description
            | Graphic helps to set the tone for how we look at a business and also attracts us to what they have to offer. At Cyber Hawk be offer logo designing, Company Branding and other graphic related services.
        .col-sm-6.col-lg-4.item
          i.fa.fa-plane.icon
          h3.name Networking
          p.description
            |From home to office we will offer all your networking needs.
        .col-sm-6.col-lg-4.item
          i.fa.fa-phone.icon
          h3.name Mobile Development
          p.description
            | In a enviroment that has an ever increase mobile presence stay above the rest with a mobile app.
  .highlight-phone
    .container
      .row
        .col-md-8
          .intro
            h2 Contact Us
            p
              | Have questions or require our services? Hit us up via email: cyberhawk@gmail.com or ring us: (268)480-2420
            
        .col-sm-4
          .d-none.d-md-block.iphone-mockup
            img.device(src='assets/img/iphone.svg')
            .screen
  section#services(style='padding:28px;background-color:#ffffff;')
    .container
      .row
        .col-lg-12.text-center(style='padding:0px;height:137px;')
          h2.section-heading Our Features
          h3.section-subheading.text-muted Here's what makes us different 
      .row.text-center
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
          h4.service-heading Reliability
          p.text-muted
            | Don't worry we will meet your goals and deadlines in a timely manner
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-laptop.fa-stack-1x.fa-inverse
          h4.service-heading Experience
          p.text-muted
            | Our team is full of knowledge and experience, as we have had many years of hands on application to our craft.
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-lock.fa-stack-1x.fa-inverse
          h4.service-heading Professionalism
          p.text-muted
            | We handle and treat you with care and courtesy.
  
  //.register-photo
    //.form-container
      //.image-holder
      //form(method='post')
        //h2.text-center
          //strong Create
          //|  an account.
        //.form-group
          //input.form-control(type='email' name='email' placeholder='Email')
        //.form-group
          //input.form-control(type='password' name='password' placeholder='Password')
        //.form-group
          //input.form-control(type='password' name='password-repeat' placeholder='Password (repeat)')
        //.form-group
          //.form-check
            //label.form-check-label
              //input.form-check-input(type='checkbox')
              //| I agree to the license terms.
        //.form-group
          //button.btn.btn-primary.btn-block(type='submit') Sign Up
        //a.already(href='#') You already have an account? Login here.
  //.brands
    //a(href='#')
      //img(src='assets/img/instacart.png')
      //img(src='assets/img/kickstarter.png')
      //img(src='assets/img/lyft.png')
      //img(src='assets/img/shopify.png')
      //img(src='assets/img/pinterest.png')
      //img(src='assets/img/twitter.png')
    // Modal
  #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Login
           img(src='assets/img/Cyber Hawk Logo.png' alt='Cyber Hawk Logo' width='65' height='65') 
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          input.form-control(type='text' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')
          input.form-control(type='text' placeholder='Password' aria-label='Password' aria-describedby='basic-addon2')
        .modal-footer
          button.btn.btn-primary(type='button' data-dismiss='modal') Login
block append scripts 
  script(src='/assets/js/App-Features-Carousel.js')


