doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='keywords' content='technology, software, app development, networking, printers, cyber security')
  meta(name='copyright' content='Cyber Hawk Inc.')
  meta(name='language' content='ES')
  meta(name='robots' content='index,follow')
  meta(property='og:title' content='Cyber Hawk Inc. - Web and App Development, Cyber Security, Network Engineering and more.')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://cyberhawksolutions.herokuapp.com')
  meta(property='og:image' content='https://cyberhawksolutions.herokuapp.com/assets/img/Cyber%20Hawk%20Logo.png')
  meta(name='revised' content='Tuesday, July 18th, 2018, 5:15 pm')
  meta(name='abstract' content='')
  meta(name='topic' content='')
  meta(name='summary' content='A wide range of high quality IT services from industry experts.')
  meta(name='Classification' content='Business')
  meta(name='author' content='Canice James, ecanicthedeveloper@gmail.com')
  meta(name='designer' content='Canice James, ecanicthedeveloper@gmail.com')
  meta(name='reply-to' content='info@pjaguar.com')
  meta(name='owner' content='')
  meta(name='url' content='https://cyberhawksolutions.herokuapp.com')
  meta(name='identifier-URL' content='https://cyberhawksolutions.herokuapp.com')
  meta(name='image' content='https://cyberhawksolutions.herokuapp.com/assets/img/Cyber%20Hawk%20Logo.png')
  meta(name='description' content='CyberHawk connects business owners and entrepeneurs with crisp development skills to build quality websites, networks, apps and systems')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='format-detection' content='telephone=no')
  meta(name='msapplication-tap-highlight' content='no')

  title Cyber Hawk
  block styles
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css' type="text/css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700')
    link(rel='stylesheet' href='/assets/fonts/fontawesome-all.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
    link(rel='stylesheet' href='/assets/css/App-Features-Carousel.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Brands.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Features-Clean.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Header-Blue.css')
    link(rel='stylesheet' href='/assets/css/Highlight-Phone.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Registration-Form-with-Photo.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Services.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Team-Boxed.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Team-Clean.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/styles.css' type="text/css")

    
body
  block body
block scripts
  script(src='/assets/js/jquery.min.js')
  script(src='/assets/bootstrap/js/bootstrap.min.js')
  script(src='/assets/js/bs-animation.js')

