doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Cyber Hawk
  block styles
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css' type="text/css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700')
    link(rel='stylesheet' href='/assets/fonts/font-awesome.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
    link(rel='stylesheet' href='/assets/css/App-Features-Carousel.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Brands.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Features-Clean.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Header-Blue.css')
    link(rel='stylesheet' href='/assets/css/Highlight-Phone.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Registration-Form-with-Photo.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Services.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/styles.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Team-Boxed.css' type="text/css")
    link(rel='stylesheet' href='/assets/css/Team-Clean.css' type="text/css")
    
body
  block body
block scripts
  script(src='/assets/js/jquery.min.js')
  script(src='/assets/bootstrap/js/bootstrap.min.js')
  script(src='/assets/js/bs-animation.js')

