link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
script(src='//code.jquery.com/jquery-1.11.1.min.js')
// ---- Include the above in your HEAD tag --------
a(href='#' data-toggle='modal' data-target='#login-modal') Login
#login-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' style='display: none;')
  .modal-dialog
    .loginmodal-container
      h1 Login to Your Account
      br
      form
        input(type='text' name='user' placeholder='Username')
        input(type='password' name='pass' placeholder='Password')
        input.login.loginmodal-submit(type='submit' name='login' value='Login')
      .login-help
        a(href='#') Register
        |  - 
        a(href='#') Forgot Password
