extends single-page-header.pug

block append styles
  link(rel='stylesheet' href='assets/css/Services.css')
block page-title
  | Pricing
block content
  section
    h2 Security Enhancement Analysis
    section#services(style='padding-top:21px;padding-bottom:20px;')
      .container
        .row.text-center
          .col-md-4
            span.fa-stack.fa-4x(style='font-size:50px;')
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-mobile-phone.fa-stack-1x.fa-inverse
            h4.service-heading(style='color:#333333;') Website/App
            p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          .col-md-4
            span.fa-stack.fa-4x(style='font-size:50px;')
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-desktop.fa-stack-1x.fa-inverse
            h4.service-heading(style='color:#333333;') Desktop Software
            p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          .col-md-4
            span.fa-stack.fa-4x(style='font-size:50px;')
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-server.fa-stack-1x.fa-inverse
            h4.service-heading(style='color:#333333;') Network
            p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    section
      h2 Web and Application Development
      section#services(style='padding-top:21px;padding-bottom:20px;')
        .container
          .row.text-center
            .col-md-4
              span.fa-stack.fa-4x(style='font-size:50px;')
                i.fa.fa-circle.fa-stack-2x.text-primary
                i.fa.fa-mobile-phone.fa-stack-1x.fa-inverse
              h4.service-heading(style='color:#333333;') App
              p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            .col-md-4
              span.fa-stack.fa-4x(style='font-size:50px;')
                i.fa.fa-circle.fa-stack-2x.text-primary
                i.fa.fa-laptop.fa-stack-1x.fa-inverse
              h4.service-heading(style='color:#333333;') Website/ Web App
              p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            .col-md-4
              span.fa-stack.fa-4x(style='font-size:50px;')
                i.fa.fa-circle.fa-stack-2x.text-primary
                i.fa.fa-desktop.fa-stack-1x.fa-inverse
              h4.service-heading(style='color:#333333;') Software
              p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    section
      h2 Penatration Testing
      section#services(style='padding-top:21px;padding-bottom:20px;')
        .container
          .row.text-center
            .col-md-4
              span.fa-stack.fa-4x(style='font-size:50px;')
                i.fa.fa-circle.fa-stack-2x.text-primary
                i.fa.fa-mobile-phone.fa-stack-1x.fa-inverse
              h4.service-heading(style='color:#333333;') App/Website
              p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            .col-md-4
              span.fa-stack.fa-4x(style='font-size:50px;')
                i.fa.fa-circle.fa-stack-2x.text-primary
                i.fa.fa-desktop.fa-stack-1x.fa-inverse
              h4.service-heading(style='color:#333333;') Software
              p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            .col-md-4
              span.fa-stack.fa-4x(style='font-size:50px;')
                i.fa.fa-circle.fa-stack-2x.text-primary
                i.fa.fa-server.fa-stack-1x.fa-inverse
              h4.service-heading(style='color:#333333;') Network
              p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      section
        h2 Network Setup/ Maintenance 
        section#services(style='padding-top:21px;padding-bottom:20px;')
          .container
            .row.text-center
              .col-md-4
                span.fa-stack.fa-4x(style='font-size:50px;')
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-user.fa-stack-1x.fa-inverse
                h4.service-heading(style='color:#333333;')
                p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit.
