extends single-page-header.pug

block append styles
  link(rel='stylesheet' href='assets/css/Services.css')
block page-title
  | Services
block content
  .features-clean
    .container
      .intro
        h2#services.text-center You won't believe how passionate we are about working for you
        p.text-center
          | We believe that you should feel confident that you're getting professional level IT services.
      .row.features
        .col-sm-6.col-lg-4.item
          i.far.fa-window-maximize.icon
          h3.name Website Development
          p.description
            | Whether your business model is the next Uber, want an online store or just want something attractive for clients to visit. Our specialty is creating a feature filled online brand presense. 
        .col-sm-6.col-lg-4.item
          i.fa.fa-user-secret.icon
          h3.name Cyber Security
          p.description
            | In a world where technology is every changing, you want to be sure that your system's integrity, availabily and confidentiality is never at risk. 
        .col-sm-6.col-lg-4.item
          i.fa.fa-toolbox.icon
          h3.name Computer Repairs
          p.description
            | Is your computer, printer or other machine experiencing hardware or software problems? Our specialists are here.
        .col-sm-6.col-lg-4.item
          i.fa.fa-image.icon
          h3.name Graphic Designing
          p.description
            | Graphic helps to set the tone for how we look at a businesses and attracts us to what they have to offer. From logo design, Company Branding to photography and video editing - just let us know.
        .col-sm-6.col-lg-4.item
          i.fa.fa-sitemap.icon
          h3.name Networking
          p.description
            |From home to office we will offer all your networking needs.
        .col-sm-6.col-lg-4.item
          i.fa.fa-mobile-alt.icon
          h3.name Mobile Development
          p.description
            | Reach your market in the place where they're most avialable and make your key services more readily available. Keep your brand on top by offering a Mobile App.
block append scripts 
  script(src='/assets/js/App-Features-Carousel.js')