| extends layout.pug
| block body
.signup__container
  .container__child.signup__thumbnail
      h1.logo__text Spectre
    .thumbnail__content.text-center
      h1.heading--primary Welcome to MI6.
      h2.heading--secondary Are you ready to join the elite?
    .thumbnail__links
      ul.list-inline.m-b-0.text-center
        li
          a(href='http://alexdevero.com/' target='_blank')
            i.fa.fa-globe
        li
          a(href='https://www.behance.net/alexdevero' target='_blank')
            fa.fa.fa-behance
        li
          a(href='https://github.com/alexdevero' target='_blank')
            i.fa.fa-github
        li
          a(href='https://twitter.com/alexdevero' target='_blank')
            i.fa.fa-twitter
    .signup__overlay
  .container__child.signup__form
    form#form1(method='POST')
      .form-group
        .form-group
          label(for='email') Email
          input#email.form-control(type='text' name='username' placeholder='james' required='')
        .form-group
          label(for='password') Password
          input#password.form-control(type='password' name='password' placeholder='********' required='')
    div
      button(type='submit' form='form1' value='submit') submit
| block styles
|   link(rel=&apos;stylesheet&apos; href=&apos;/assets/css/signup.css&apos; type=&quot;text/css&quot;)
| block scripts
