extends layout.pug

block append styles
  link(rel='stylesheet' href='assets/css/Navigation-with-Button.css')
  link(rel='stylesheet' href='assets/css/Services.css')
block body
  div
    nav.navbar.navbar-light.navbar-expand-md.navigation-clean-button(style='background-color:#297f84;')
      .container
        img(src='assets/img/Cyber Hawk Logo.png' alt='Cyber Hawk Logo' width='75' height='75' href='')
        a.navbar-brand(href='' style='color:#ffffff;') Cyber Hawk
        button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav.mr-auto
            li.nav-item(role='presentation')
              a.nav-link.active(href='/services' style='color:#dddddd;') Services
              li.nav-item(role='presentation')
              a.nav-link.active(href='/pricing' style='color:#dddddd;') Pricing
          span.navbar-text.actions
            a.login(href='#' style='color:#dddddd;') Log In
            a.btn.btn-light.action-button(role='button' href='#' style='background-color:#018ca7;') Sign Up
  div.parallax-header
    div.d-flex.justify-content-center(data-bs-parallax-bg='true' style='height:165px;background-image:url(https://unsplash.it/1800/900?image=1051);background-position:center;background-size:cover;')
      h1.align-self-center.text-center.text-light 
        block page-title
          | Page Title 
  div
    .container
      .row
        .col-md-12(style='margin:0px;margin-top:33px;')
          .card
            .card-body
              block content
              