extends layout.pug

block append styles
  link(rel='stylesheet' href='assets/css/Navigation-with-Button.css')
  link(rel='stylesheet' href='assets/css/Footer-Dark.css')
  link(rel='stylesheet' href='assets/css/Services.css')
block body
  div
    nav.navbar.navbar-dark.navbar-expand-md.navigation-clean-button(style='background-color:#013644;')
      
      .container
        img(src='assets/img/Cyber Hawk Logo.png' alt='Cyber Hawk Logo' width='75' height='75' href='/index')
        a.navbar-brand(href='/' style='color:#ffffff;') Cyber Hawk
        button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav.mr-auto
              li.nav-item(role='presentation')
                a.nav-link(href='/app-estimate' style='color:#dddddd;') Pricing
          if !user
            span.navbar-text.actions
              a.login(href='login' style='color:#dddddd;') Log In
              a.btn.btn-light.action-button(role='button' href='signup' style='background-color:#018ca7;') Sign Up
          else
            a.dashboard-link.btn.btn-outline-light(href='dashboard' style='color:#dddddd;') Dashboard
  #particles-js
  div.parallax-header
    div.d-flex.justify-content-center(data-bs-parallax-bg='true' style='height:165px;background-image:url(https://unsplash.it/1800/900?image=1051);background-position:center;background-size:cover;')
      h1.align-self-center.text-center.text-light 
        block page-title
          | Page Title 
  div
    .container
      .row
        .col-md-12(style='margin:0px;margin-top:33px;')
          .card.light-bg
            .card-body.single-page-content
              block content
      .row
        .col-md-12(style='margin:0px;margin-top:33px;')
          block post-content
  block footer
    #footer-particles-js
    .footer-dark
      footer
        .container
          .row
            .col-sm-6.col-md-3.item
              h3 Services
              ul
                li
                  a(href='#') Web design
                li
                  a(href='#') Development
                li
                  a(href='#') Hosting
            .col-sm-6.col-md-3.item
              h3 About
              ul
                li
                  a(href='/about') Company
                li
                  a(href='#') Team
            .col-md-6.item.text
              h3 Contact Us
              p
                | 1(268)480-2420
            .col.item.social
              a(href='#')
                i.icon.ion-social-facebook
              a(href='#')
                i.icon.ion-social-twitter
              a(href='#')
                i.icon.ion-social-snapchat
              a(href='#')
                i.icon.ion-social-instagram
          p.copyright Cyber Hawk Inc. &copy; 2018
  |<!-- particles.js lib - https://github.com/VincentGarreau/particles.js --> <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  |<style>
  |  /* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: none   ; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; opacity:0.8; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }div#footer-particles-js { position: absolute; left: 0px; width: 100%; height: 270px; }
  |</style>

  |<script>
  |  let particleConfig = {"particles":{"number":{"value":80,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":0.3,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":false,"mode":"bubble"},"onclick":{"enable":true,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true};
  |  particlesJS("particles-js", particleConfig); particlesJS("footer-particles-js", particleConfig); 
  |</script>