<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/dark.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/animate.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/magnific-popup.css" type="text/css" />

	<!-- Range Slider CSS -->
	<link rel="stylesheet" href="assets/css/canvas/components/ion.rangeslider.css" type="text/css" />

	<link rel="stylesheet" href="assets/css/canvas/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="assets/css/canvas/custom.css" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>Website Costing Quote - CyberHawk Solutions</title>

	<style>
		.form-group > label.error {
			display: block !important;
			text-transform: none;
		}

		.form-group input.valid ~ label.error,
		.form-group input[type="text"] ~ label.error,
		.form-group input[type="email"] ~ label.error,
		.form-group input[type="number"] ~ label.error,
		.form-group select ~ label.error { display: none !important; }



	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>
							<li><a href="index.html"><div>Home</div></a>
								<ul>
									<li><a href="index-corporate.html"><div>Pricing</div></a>
										<ul>
											<li><a href="index-corporate.html"><div>Websites</div></a></li>
											<li><a href="index-corporate-2.html"><div>iOS & Android Apps</div></a></li>
										</ul>
									</li>
									<li><a href="index-corporate.html"><div>About</div></a>
									</li>
									<li><a href="index-corporate.html"><div>Affiliations</div></a>
									</li>
								</ul>
							</li>
							<li class="mega-menu"><a><div>Showcase</div></a>
								<div class="mega-menu-content style-2 clearfix">
								
									<ul class="mega-menu-column col-lg-3">
										<li class="mega-menu-title"><a><div>Small Websites</div></a>
											<ul>
												<li><a href="blog-masonry-full.html"><div>Majestic Heights - Real Estate</div></a></li>
												<li><a href="blog-masonry-full.html"><div>Environment Tourism Consulting</div></a></li>
												<li><a href="blog-masonry-3.html"><div>EDGILE Software - USA</div></a></li>
												<li><a href="blog-masonry-2.html"><div>NADIS (Disaster Prevention)</div></a></li>
												<li><a href="blog-masonry.html"><div>Project Jaguar GOC</div></a></li>
												<li><a href="blog-masonry.html"><div>QuikServe</div></a></li>
											</ul>
										</li>
										<li class="mega-menu-title"><a ><div>Large Websites </div></a>
											<ul>
												<li><a href="blog-masonry.html"><div>Antigua & Barbuda International Institute of Technology (ABIIT) </div></a></li>
												<li><a href="blog-masonry.html"><div>ABIIT Central - Student Blog </div></a></li>
												<li><a href="blog-masonry.html"><div>Entrepeneloper Community </div></a></li>
												<li><a href="blog-masonry.html"><div>MindAmaze for Singapore</div></a></li>
												<li><a href="blog-masonry.html"><div>Project Jaguar Intl.</div></a></li>
												<li><a href="blog-masonry.html"><div>Project Jaguar Web</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-lg-3">
										<li class="mega-menu-title"><a ><div>Android Apps</div></a>
											<ul>
												<li><a href="blog-small-left-sidebar.html"><div>QuikServe App</div></a></li>
												<li><a href="blog-small-left-sidebar.html"><div>Project Jaguar App</div></a></li>
												<li><a href="blog-small-left-sidebar.html"><div>ABIIT Student App</div></a></li>
											</ul>
										</li>
									</ul>
									
								</div>
							</li>
							<li class="mega-menu"><a href="#"><div>Partners</div></a>
								<div class="mega-menu-content clearfix">
									<ul class="mega-menu-column col-5">
										<li><a href="animations.html"><div><i class="icon-magic"></i>Animations</div></a></li>
										<li><a href="buttons.html"><div><i class="icon-link"></i>Buttons</div></a></li>
										<li><a href="carousel.html"><div><i class="icon-heart3"></i>Carousel</div></a></li>
										<li><a href="charts.html"><div><i class="icon-bar-chart"></i>Charts</div></a></li>
										<li><a href="clients.html"><div><i class="icon-apple"></i>Clients</div></a></li>
										<li><a href="columns-grids.html"><div><i class="icon-th-large"></i>Columns</div></a></li>
										<li><a href="counters.html"><div><i class="icon-time"></i>Counters</div></a></li>
										<li><a href="component-datatable.html"><div><i class="icon-table"></i>Data Tables</div></a></li>
										<li><a href="component-datepicker.html"><div><i class="icon-calendar3"></i>Date &amp; Time Pickers</div></a></li>
									</ul>
								</div>
							</li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Website Costing Quote</h1>
				<span>Forms Widget</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Widgets</a></li>
					<li class="breadcrumb-item active" aria-current="page">Website Cost Form</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row">
						<div class="col-lg-4 order-lg-1 mb-4">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="w-50">Items:</th>
											<th class="w-50">Price:</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Responsive Design:</td>
											<td class="responsive-value t600">$0</td>
										</tr>
										<tr>
											<td>Retina Design:</td>
											<td class="retina-value t600">$0</td>
										</tr>
										<tr>
											<td>Website Type:</td>
											<td class="website-type-value t600">$0</td>
										</tr>
										<tr>
											<td>Style of Design:</td>
											<td class="design-value t600">$0</td>
										</tr>
										<tr>
											<td># of Pages:</td>
											<td class="pages-value t600">$0</td>
										</tr>
										<tr>
											<td>CMS:</td>
											<td class="cms-value t600">$0</td>
										</tr>
										<tr>
											<td>SEO Keywords:</td>
											<td class="seo-value t600">$0</td>
										</tr>
										<tr>
											<td>Google Analytics:</td>
											<td class="google-analytics-value t600">$0</td>
										</tr>
										<tr>
											<td>Before 30 Days:</td>
											<td class="urgent-value t600">$0</td>
										</tr>
										<tr>
											<th class="t600 h5 mb-0">Total</th>
											<th class="total-price h5 t600 mb-0">$0</th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="col-lg-8">
							<div class="form-widget">
								<div class="form-result"></div>
								<form class="row mb-0" id="website-cost" action="include/form.php" method="post" enctype="multipart/form-data">
									<div class="form-process"></div>
									<div class="col-md-6 form-group mb-4">
										<label class="mb-3">Responsive Design:</label><br>
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
											<label for="website-cost-responsive" class="btn btn-outline-secondary px-3 t600 active ls0 nott">
												<input type="radio" name="website-cost-responsive" id="website-cost-responsive-no" class="required" checked data-price="0" autocomplete="off" value="Dekstop"> Dekstop
											</label>
											<label for="website-cost-responsive" class="btn btn-outline-secondary px-3 t600 ls0 nott">
												<input type="radio" name="website-cost-responsive" id="website-cost-responsive-yes" class="required" data-price="1000" autocomplete="off" value="Dekstop + Mobile"> Dekstop &amp; Mobile
											</label>
										</div>
									</div>

									<div class="col-md-6 form-group mb-4">
										<label class="mb-3">Retina Design:</label><br>
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
											<label for="website-cost-retina" class="btn btn-outline-secondary px-3 t600 ls0 nott">
												<input type="radio" name="website-cost-retina" id="website-cost-retina-yes" data-price="1000" class="required" autocomplete="off" value="Yes Please!"> Yes Please!
											</label>
											<label for="website-cost-retina" class="btn btn-outline-secondary px-3 t600 active ls0 nott">
												<input type="radio" name="website-cost-retina" id="website-cost-retina-no" class="required" checked data-price="0" autocomplete="off" value="No Thanks!"> No Thanks!
											</label>
										</div>
									</div>

									<div class="col-12 form-group mb-4">
										<label for="website-cost-type" class="mb-3">Website Type:</label><br>
										<div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
											<label for="website-cost-type-corporate" class="btn btn-outline-secondary px-3 t600 ls0 nott">
												<input type="radio" name="website-cost-type" class="required" id="website-cost-type-corporate" autocomplete="off" data-price="200" value="Corporate"> Corporate
											</label>
											<label for="website-cost-type-ecommerce" class="btn btn-outline-secondary px-3 t600 ls0 nott">
												<input type="radio" name="website-cost-type" class="required" id="website-cost-type-ecommerce" autocomplete="off" data-price="400" value="eCommerce"> eCommerce
											</label>
											<label for="website-cost-type-blog" class="btn btn-outline-secondary px-3 t600 ls0 nott">
												<input type="radio" name="website-cost-type" class="required" id="website-cost-type-blog" autocomplete="off" data-price="100" value="Blog"> Blog
											</label>
											<label for="website-cost-type-personal" class="btn btn-outline-secondary px-3 t600 ls0 nott">
												<input type="radio" name="website-cost-type" class="required" id="website-cost-type-personal" autocomplete="off" data-price="80" value="Personal"> Personal
											</label>
											<label for="website-cost-type-database" class="btn btn-outline-secondary px-3 t600 ls0 nott">
												<input type="radio" name="website-cost-type" class="required" id="website-cost-type-database" autocomplete="off" data-price="300" value="Database"> Database
											</label>
										</div>
									</div>
									<div class="col-12 form-group mb-4">
										<label for="website-cost-design" class="mb-3">Style of Design:</label><br>
										<div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
											<label for="website-cost-design-basic" class="btn btn-outline-secondary px-5 t600 ls0 nott active">
												<input type="radio" name="website-cost-design" id="website-cost-design-basic" autocomplete="off" class="required" checked data-price="0" autocomplete="off" value="Basic"> Basic
											</label>
											<label for="website-cost-design-flat" class="btn btn-outline-secondary px-5 t600 ls0 nott">
												<input type="radio" name="website-cost-design" class="required" id="website-cost-design-flat" autocomplete="off" data-price="500" value="Flat"> Flat
											</label>
											<label for="website-cost-design-modern" class="btn btn-outline-secondary px-5 t600 ls0 nott">
												<input type="radio" name="website-cost-design" class="required" id="website-cost-design-modern" autocomplete="off" data-price="1500" value="Modern"> Modern
											</label>
										</div>
									</div>
									<div class="col-8 form-group mb-4">
										<label for="website-cost-design" class="mb-3">Number of Pages:</label><br>
										<input id="website-cost-pages" name="website-cost-pages" class="website-pages required input-range-slider" />
									</div>

									<div class="col-12 form-group mb-4">
										<label for="website-cost-cms" class="mb-3">CMS:</label><br>
										<div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
											<label for="website-cost-cms-wordpress" class="btn btn-outline-secondary px-4 t600 ls0 nott">
												<input type="radio" name="website-cost-cms" class="required" id="website-cost-cms-wordpress" autocomplete="off" data-price="1200" value="Wordpress" > <i class="icon-wordpress-simple"></i> Wordpress
											</label>
											<label for="website-cost-cms-magento" class="btn btn-outline-secondary px-4 t600 ls0 nott">
												<input type="radio" name="website-cost-cms" class="required" id="website-cost-cms-magento" autocomplete="off" data-price="800" value="Magento"> <i class="icon-magento"></i> Magento
											</label>
											<label for="website-cost-cms-drupal" class="btn btn-outline-secondary px-4 t600 ls0 nott">
												<input type="radio" name="website-cost-cms" class="required" id="website-cost-cms-drupal" autocomplete="off" data-price="1400" value="Drupal"> <i class="icon-drupal1"></i> Drupal
											</label>
											<label for="website-cost-cms-joomla" class="btn btn-outline-secondary px-4 t600 ls0 nott">
												<input type="radio" name="website-cost-cms" class="required" id="website-cost-cms-joomla" autocomplete="off" data-price="1700" value="Joomla"> <i class="icon-joomla"></i> Joomla
											</label>
										</div>
									</div>

									<div class="col-8 form-group mb-4">
										<label for="website-cost-seo" class="mb-3">SEO Placement:</label><br>
										<input id="website-cost-seo" name="website-cost-seo" class="website-seo input-range-slider required" />
									</div>

									<div class="col-md-6 form-group mb-4">
										<label class="mb-3">Google Analytics Implementation:</label><br>
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
											<label for="website-cost-google-analytics" class="btn btn-outline-secondary px-3 t600 ls0 nott">
												<input type="radio" name="website-cost-google-analytics" id="website-cost-google-analytics-yes" class="required" data-price="1000" autocomplete="off" value="Yes"> Yes
											</label>
											<label for="website-cost-google-analytics" class="btn btn-outline-secondary px-3 t600 ls0 nott active">
												<input type="radio" name="website-cost-google-analytics" id="website-cost-google-analytics-no" class="required" checked data-price="0" autocomplete="off" value="No"> No
											</label>
										</div>
									</div>

									<div class="col-md-6 form-group mb-4">
										<label class="mb-3">Before 30 Days:</label><br>
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
											<label for="website-cost-before-30-days" class="btn btn-outline-secondary px-3 t600 ls0 nott">
												<input type="radio" name="website-cost-before-30-days" id="website-cost-before-30-days-yes" class="required" data-price="500" autocomplete="off" value="Yes"> Yes! It's Urgent
											</label>
											<label for="website-cost-before-30-days" class="btn btn-outline-secondary px-3 t600 ls0 nott active">
												<input type="radio" name="website-cost-before-30-days" id="website-cost-before-30-days-no" class="required" checked data-price="0" autocomplete="off" value="No! Take Your Time"> No! Take Your Time
											</label>
										</div>
									</div>

									<div class="col-md-6 form-group mb-4">
										<label for="website-cost-name">Name:</label>
										<input type="text" name="website-cost-name" id="website-cost-name" class="form-control required" value="" placeholder="Enter your Full Name">
									</div>
									<div class="col-md-6 form-group mb-4">
										<label for="website-cost-contact">Contact:</label>
										<input type="text" name="website-cost-contact" id="website-cost-contact" class="form-control required" value="" placeholder="Enter your Contact Number">
									</div>
									<div class="col-12 form-group mb-4">
										<label for="website-cost-email">Email:</label>
										<input type="email" name="website-cost-email" id="website-cost-email" class="form-control required" value="" placeholder="Enter your Email">
									</div>

									<div class="col-12 form-group mb-4">
										<label for="website-cost-message">Additional Message (Optional):</label>
										<textarea name="website-cost-message" id="website-cost-message" class="form-control" cols="30" rows="10"></textarea>
									</div>

									<div class="col-12 hidden">
										<input type="text" id="website-cost-botcheck" name="website-cost-botcheck" value="" />
									</div>
									<div class="col-12">
										<button type="submit" name="website-cost-submit" class="btn btn-success btn-lg">Confirm</button>
									</div>

									<input type="hidden" name="prefix" value="website-cost-">
									<input type="hidden" name="subject" value="Website Cost Estimate Request">
									<input type="hidden" name="html_title" value="Website Cost Estimation">
									<input type="hidden" id="website-cost-price" name="website-cost-total-price" value="">
								</form>
							</div>
						</div>


					</div>

				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="images/footer-widget-logo.png" alt="" class="footer-logo">

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

								<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Headquarters:</strong><br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
									</address>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Blogroll</h4>

								<ul>
									<li><a href="http://codex.wordpress.org/">Documentation</a></li>
									<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
									<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
									<li><a href="http://wordpress.org/support/">Support Forums</a></li>
									<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
									<li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
									<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Recent Posts</h4>

								<div id="post-list-footer">
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-lg-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Total Downloads</h5>
								</div>

								<div class="col-lg-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Clients</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget subscribe-form clearfix">
							<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
							<div class="widget-subscribe-form-result"></div>
							<form action="include/subscribe.php" role="form" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="icon-email2"></i></div>
									</div>
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
									<div class="input-group-append">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</div>
								</div>
							</form>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-lg-6 clearfix bottommargin-sm">
									<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
								</div>
								<div class="col-lg-6 clearfix">
									<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="#" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-vimeo">
								<i class="icon-vimeo"></i>
								<i class="icon-vimeo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-yahoo">
								<i class="icon-yahoo"></i>
								<i class="icon-yahoo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/plugins.js"></script>

	<!-- Range Slider Plugin -->
	<script src="assets/js/components/rangeslider.min.js"></script>
	<!-- TinyMCE Plugin -->
	<script src="assets/js/components/tinymce/tinymce.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="assets/js/functions.js"></script>

	<script>
		jQuery(document).ready( function(){

			var pricingRESPONSIVE = 0,
				pricingRETINA = 0,
				pricingWEBTYPE = 0,
				pricingDESIGN = 0,
				pricingPAGES = 0,
				pricingCMS = 0,
				pricingSEO = 1,
				pricingGA = 0,
				pricingURGENT = 0,
				elementPrice = $("#website-cost-price"),
				elementResponsive = $( 'input[name="website-cost-responsive"]' ),
				elementRetina = $( 'input[name="website-cost-retina"]' ),
				elementWebType = $( 'input[name="website-cost-type"]' ),
				elementDesign = $( 'input[name="website-cost-design"]' ),
				elementPAGES = $(".website-pages"),
				elementCMS = $("input[name='website-cost-cms']"),
				elementGA = $("input[name='website-cost-google-analytics']"),
				elementUrgent = $("input[name='website-cost-before-30-days']"),
				elementSEO = $(".website-seo");


			elementResponsive.on( 'change', function(){
				pricingRESPONSIVE = $(this).attr('data-price');
				calculatePrice( pricingRESPONSIVE, pricingRETINA, pricingWEBTYPE, pricingDESIGN, pricingPAGES, pricingCMS, pricingSEO, pricingGA, pricingURGENT );
			});

			elementRetina.on( 'change', function(){
				pricingRETINA = $(this).attr('data-price');
				calculatePrice( pricingRESPONSIVE, pricingRETINA, pricingWEBTYPE, pricingDESIGN, pricingPAGES, pricingCMS, pricingSEO, pricingGA, pricingURGENT );
			});

			elementWebType.on( 'change', function(){
				pricingWEBTYPE = $(this).attr('data-price');
				calculatePrice( pricingRESPONSIVE, pricingRETINA, pricingWEBTYPE, pricingDESIGN, pricingPAGES, pricingCMS, pricingSEO, pricingGA, pricingURGENT );
			});

			elementDesign.on( 'change', function(){
				pricingDESIGN = $(this).attr('data-price');
				calculatePrice( pricingRESPONSIVE, pricingRETINA, pricingWEBTYPE, pricingDESIGN, pricingPAGES, pricingCMS, pricingSEO, pricingGA, pricingURGENT );
			});

			elementPAGES.ionRangeSlider({
				min: 10,
				max: 100,
				from: 10,
				step: 10,
				max_postfix: "+",
				onStart: function(data){
					pricingPAGES = data.from;
					console.log(data);
				}
			});

			elementPAGES.on( 'change', function(){
				pricingPAGES = $(this).prop('value');
				calculatePrice( pricingRESPONSIVE, pricingRETINA, pricingWEBTYPE, pricingDESIGN, pricingPAGES, pricingCMS, pricingSEO, pricingGA, pricingURGENT );
			});

			elementCMS.on( 'change', function(){
				pricingCMS = $(this).attr('data-price');
				calculatePrice( pricingRESPONSIVE, pricingRETINA, pricingWEBTYPE, pricingDESIGN, pricingPAGES, pricingCMS, pricingSEO, pricingGA, pricingURGENT );
			});

			elementSEO.ionRangeSlider({
				min: 0,
				max: 210,
				from: 0,
				step: 30,
				max_postfix: " Keywords",
				onStart: function(data){
					pricingSEO = data.from;
					console.log(data);
				}
			});

			elementSEO.on( 'onStart change', function(){
				pricingSEO = $(this).prop('value');
				calculatePrice( pricingRESPONSIVE, pricingRETINA, pricingWEBTYPE, pricingDESIGN, pricingPAGES, pricingCMS, pricingSEO, pricingGA, pricingURGENT );
			});

			elementGA.on( 'change', function(){
				pricingGA = $(this).attr('data-price');
				calculatePrice( pricingRESPONSIVE, pricingRETINA, pricingWEBTYPE, pricingDESIGN, pricingPAGES, pricingCMS, pricingSEO, pricingGA, pricingURGENT );
			});

			elementUrgent.on( 'change', function(){
				pricingURGENT = $(this).attr('data-price');
				calculatePrice( pricingRESPONSIVE, pricingRETINA, pricingWEBTYPE, pricingDESIGN, pricingPAGES, pricingCMS, pricingSEO, pricingGA, pricingURGENT );
			});

			calculatePrice( pricingRESPONSIVE, pricingRETINA, pricingWEBTYPE, pricingDESIGN, pricingPAGES, pricingCMS, pricingSEO, pricingGA, pricingURGENT );

			function calculatePrice( responsive, retina, webtype, design, pages, cms, seo, ga, urgent ) {
				var TotalPriceValue = Number(responsive) + Number(retina) + Number(webtype) + Number(design) + ( Number(pages) * 100 ) + Number(cms) + ( Number(seo) * 100 ) + Number(ga) + Number(urgent);
				jQuery('.responsive-value').html( '$'+pricingRESPONSIVE );
				jQuery('.retina-value').html( '$'+pricingRETINA );
				jQuery('.website-type-value').html( '$'+pricingWEBTYPE );
				jQuery('.design-value').html( '$'+pricingDESIGN );
				jQuery('.pages-value').html('$'+pricingPAGES * 100);
				jQuery('.cms-value').html('$'+pricingCMS);
				jQuery('.seo-value').html('$'+pricingSEO  * 100);
				jQuery('.google-analytics-value').html('$'+pricingGA);
				jQuery('.urgent-value').html('$'+pricingURGENT);
				jQuery('.total-price').html( '$'+TotalPriceValue );
				elementPrice.val( TotalPriceValue ).change();
			}

			$('#website-cost').on( 'formSubmitSuccess', function(){
				$('.responsive-value, .retina-value, .website-type-value, .design-value, .pages-value, .cms-value, .google-analytics-value, .urgent-value, .total-price' ).html( '$0' );
			});

			tinymce.init({
				selector: '#website-cost-message',
				menubar: false,
				setup: function(editor) {
					editor.on('change', function(e) {
						editor.save();
					});
				}
			});

		});
	</script>

</body>
</html>