<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="technology, software, app development, networking, printers, cyber security" />
    <meta name="copyright" content="Cyberhawk Solutions" />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Cyberhawk Solutions - Website & App Costing" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://cyberhawksolutions.com" />
    <meta property="og:image" content="http://cyberhawksolutions.com/assets/img/Cyber%20Hawk%20Logo.png" />
    <meta name="revised" content="Tuesday, July 18th, 2018, 5:15 pm" />
    <meta name="abstract" content="" />
    <meta name="topic" content="" />
    <meta name="summary" content="A wide range of high quality IT services from industry experts." />
    <meta name="Classification" content="Business" />
    <meta name="author" content="Canice James, ecanicthedeveloper@gmail.com" />
    <meta name="designer" content="Canice James, ecanicthedeveloper@gmail.com" />
    <meta name="reply-to" content="info@pjaguar.com" />
    <meta name="owner" content="" />
    <meta name="url" content="http://cyberhawksolutions.com" />
    <meta name="identifier-URL" content="http://cyberhawksolutions.com" />
    <meta name="image" content="http://cyberhawksolutions.com/assets/img/Cyber%20Hawk%20Logo.png" />
    <meta name="description" content="Web and App Development, Cyber Security, Network Engineering and more." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" />
    <link rel="stylesheet" href="/assets/css/App-Features-Carousel.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Brands.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Features-Clean.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Header-Blue.css" />
    <link rel="stylesheet" href="/assets/css/Highlight-Phone.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Services.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Team-Boxed.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/Team-Clean.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
  <meta name="theme-color" content="#018ca7">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/dark.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/animate.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/canvas/magnific-popup.css" type="text/css" />
<link rel="stylesheet" href="assets/css/Services.css" />
<script src="/assets/js/cost-estimator.js"></script>
	<!-- Range Slider CSS -->
	<link rel="stylesheet" href="assets/css/canvas/components/ion.rangeslider.css" type="text/css" />

	<link rel="stylesheet" href="assets/css/canvas/responsive.css" type="text/css" />

	<link rel="stylesheet" href="assets/css/canvas/custom.css" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>Website Costing Quote - CyberHawk Solutions</title>


</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="#" class="standard-logo" data-dark-logo="assets/images/logo.png"><img  src="assets/images/logo.png" alt="CyberHawk Logo"></a>
						<a href="#" class="retina-logo" data-dark-logo="assets/images/logo.png"><img   src="assets/images/logo.png" alt="CyberHawk Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>
							<li><a href="#"><div>Home</div></a>
								<ul>
									<li><a href="#"><div>Pricing</div></a>
										<ul>
											<li><a href="#"><div>Websites</div></a></li>
											<li><a href="#"><div>iOS & Android Apps</div></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="mega-menu"><a><div>Showcase</div></a>
								<div class="mega-menu-content style-2 clearfix">
								
									<ul class="mega-menu-column col-lg-3">
										<li class="mega-menu-title"><a><div>Small Websites</div></a>
											<ul>
												<li><a href="http://mheights.house"><div>Majestic Heights - Real Estate</div></a></li>
												<li><a href="http://environmenttourismconsulting.com"><div>Environment Tourism Consulting</div></a></li>
												<li><a href="http://edgile.info"><div>EDGILE Software - USA</div></a></li>
												<li><a href="http://nadisapp.org"><div>NADIS (Disaster Prevention)</div></a></li>
												<li><a href="http://goc.pjaguar.com"><div>Project Jaguar GOC</div></a></li>
												<li><a href="http://quik-serve.com"><div>QuikServe</div></a></li>
											</ul>
										</li>
										<li class="mega-menu-title"><a ><div>Large Websites </div></a>
											<ul>
												<li><a href="http://abiit.edu.ag"><div>Antigua & Barbuda International Institute of Technology (ABIIT) </div></a></li>
												<li><a href="https://abiitcentral.wordpress.com/"><div>ABIIT Central - Student Blog </div></a></li>
												<li><a href="http://entrepeneloper.com"><div>Entrepeneloper Community </div></a></li>
												<li><a href="http://mindaz.asia"><div>MindAmaze for Singapore</div></a></li>
												<li><a href="http://pjaguar.com"><div>Project Jaguar Intl.</div></a></li>
												<li><a href="http://web.pjaguar.com"><div>Project Jaguar Web</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-lg-3">
										<li class="mega-menu-title"><a ><div>Android Apps</div></a>
											<ul>
												<li><a href="#"><div>QuikServe App</div></a></li>
												<li><a href="#"><div>Project Jaguar App</div></a></li>
												<li><a href="#"><div>ABIIT Student App</div></a></li>
											</ul>
										</li>
									</ul>
									
								</div>
							</li>
							<li class="mega-menu"><a href="#"><div>Partners</div></a>
								<div class="mega-menu-content clearfix">
									<ul class="mega-menu-column col-5">
										<li><a href="animations.html"><div><i class="icon-magic"></i>Animations</div></a></li>
										<li><a href="buttons.html"><div><i class="icon-link"></i>Buttons</div></a></li>
										<li><a href="carousel.html"><div><i class="icon-heart3"></i>Carousel</div></a></li>
										<li><a href="charts.html"><div><i class="icon-bar-chart"></i>Charts</div></a></li>
										<li><a href="clients.html"><div><i class="icon-apple"></i>Clients</div></a></li>
										<li><a href="columns-grids.html"><div><i class="icon-th-large"></i>Columns</div></a></li>
										<li><a href="counters.html"><div><i class="icon-time"></i>Counters</div></a></li>
										<li><a href="component-datatable.html"><div><i class="icon-table"></i>Data Tables</div></a></li>
										<li><a href="component-datepicker.html"><div><i class="icon-calendar3"></i>Date &amp; Time Pickers</div></a></li>
									</ul>
								</div>
							</li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->


<!-- ADDED PRICE ESTIMATOR-->

	<section id="page-title">

			<div class="container clearfix">
				<h1>Website Costing Quote</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Pricing</a></li>
					<li class="breadcrumb-item active" aria-current="page">Website Price Estimator</li>
				</ol>
			</div>

		</section>
				<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row">
						<div class="col-lg-12 order-lg-1 mb-4">
<section>
    <h2>How big is your website?</h2>
    <section class="service-row" style="padding-top:21px;padding-bottom:20px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fas fa-window-maximize fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Small</h4>
                    <p class="text-muted">4-5 Key Feature Pages.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="far fa-window-maximize fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Medium</h4>
                    <p class="text-muted">6-9 Key Feature Pages.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="far fa-window-restore fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Large</h4>
                    <p class="text-muted">10-15 key Feature Pages.</p>
                </div>
            </div>
        </div>
    </section>
</section>
<section>
    <h2>Users and Accounts</h2>
    <section class="service-row" style="padding-top:21px;padding-bottom:20px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-user fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Email/ Password Sign Up</h4>
                    <p class="text-muted">User sign up and login with email and password.</p>
                </div>
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-key fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Third Party Login</h4>
                    <p class="text-muted">Sign up/login with facebook, google, etc. accounts.</p>
                </div>
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">User Invitation Emails</h4>
                    <p class="text-muted">New users can be invited via emails.</p>
                </div>
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-sitemap fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Multi-tenant Accounts</h4>
                    <p class="text-muted">Account based signups, each with their own administrators and users</p>
                </div>
            </div>
        </div>
    </section>
</section>
<section>
    <h2>User Generated Content</h2>
    <section class="service-row" style="padding-top:21px;padding-bottom:20px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-columns fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Dashboard</h4>
                    <p class="text-muted">Usually the first thing a logged in user sees. May summarize data and perharps show graphs and notices.</p>
                </div>
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-list-ul fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Activity Feed</h4>
                    <p class="text-muted">Shows what the user has been up to recently.</p>
                </div>
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-cloud-upload-alt fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">File Uploading</h4>
                    <p class="text-muted">Users can upload files (images, pdfs, etc.).</p>
                </div>
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-user-circle fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">User Profiles</h4>
                    <p class="text-muted">Users can have their own page with a customizable profile.</p>
                </div>
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-tag fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Tags</h4>
                    <p class="text-muted">Categorize information to find them easier.</p>
                </div>
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-search fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Free Text searching</h4>
                    <p class="text-muted">Giving users the ability to do generic site searches.</p>
                </div>
                <div class="col-md-3 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-star fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Ratings/Reviews</h4>
                    <p class="text-muted">Allows for restaurant/product and customer satisfaction reviews.</p>
                </div>
            </div>
        </div>
    </section>
</section>
<section>
    <h2>Dates/ Locations</h2>
    <section class="service-row" style="padding-top:21px;padding-bottom:20px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-calendar-alt fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Calendering</h4>
                    <p class="text-muted">Display and capture of data in calender format.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-map-marker-alt fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Display of map data/Geolocation</h4>
                    <p class="text-muted">Display a map with data points.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-calendar-plus fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Bookings</h4>
                    <p class="text-muted">Selecting dates, managing capacity etc.</p>
                </div>
            </div>
        </div>
    </section>
</section>
<section>
    <h2>Social</h2>
    <section class="service-row" style="padding-top:21px;padding-bottom:20px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Messaging</h4>
                    <p class="text-muted">Users direct message eachother or contribute to chatrooms.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-comments fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Forums or Commenting</h4>
                    <p class="text-muted">Expansive forum functionality.</p>
                </div>
            </div>
        </div>
    </section>
</section>
<section>
    <h2>E-Commerce</h2>
    <section class="service-row" style="padding-top:21px;padding-bottom:20px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Shopping Cart</h4>
                    <p class="text-muted">Users browse and add products to a cart.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-credit-card fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Payment Processing</h4>
                    <p class="text-muted">You will process payments from users and manage refunds etc.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="far fa-credit-card fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Subscription plans</h4>
                    <p class="text-muted">Customer Pay at regular intervals.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-store fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Product Management</h4>
                    <p class="text-muted">Ability to manage product listings and data.</p>
                </div>
            </div>
        </div>
    </section>
</section>
<section>
    <h2>Admin and Analytics</h2>
    <section class="service-row" style="padding-top:21px;padding-bottom:20px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-columns fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">CMS Integration</h4>
                    <p class="text-muted">A content management system would allow editing of key parts the static content without developer intervention.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-chart-pie fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Usage Analytics</h4>
                    <p class="text-muted">Find out where your users come from and how they use your app.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-user-tie fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">User Admin Pages</h4>
                    <p class="text-muted">Account administrators would be able to list/add/remove/suspend users.</p>
                </div>
                <div class="col-md-4 service-item"><span class="fa-stack fa-4x" style="font-size:50px;"><i class="fa fa-circle fa-stack-2x text-primary-dark"></i><i class="fa fa-user-edit fa-stack-1x fa-inverse"></i></span>
                    <h4 class="service-heading" style="color:#333333;">Moderation /Content Approval</h4>
                    <p class="text-muted">Administers review content submitted by users.</p>
                </div>
            </div>
        </div>
    </section>
</section>
<section id="estimate-result">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="row">
                    <h2>Total Cost: $<span id="total-cost">0</span><span> USD</span></h2>
                </div>
                <div class="row">
                    <h3>Developer Days: <span id="developer-days">0</span></h3>
                </div>
            </div>
            <div class="col col-md-6 col-sm-12">
                <div class="row"></div>
                <div class="row">
                    <div class="input-group mb-3"><input class="form-control" id="estimate-email" type="text" placeholder="Email Address" aria-label="Email Address" aria-describedby="basic-addon2" />
                        <div class="input-group-append"><button class="btn btn-primary" id="send-estimate" type="button">Send Me The Estimate</button></div>
                    </div>
                </div>
                <div class="row">
                    <p class="text-success hidden" id="email-sent-message">Estimate sent.</p>
                    <p class="text-danger hidden" id="email-sent-message">Estimate failed to send - is the email valid?</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
</div>
</section>


<!-- END OF ADDED PRICE ESTIMATOR -->
	<!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="images/footer-widget-logo.png" alt="" class="footer-logo">

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

								<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Headquarters:</strong><br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
									</address>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Blogroll</h4>

								<ul>
									<li><a href="http://codex.wordpress.org/">Documentation</a></li>
									<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
									<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
									<li><a href="http://wordpress.org/support/">Support Forums</a></li>
									<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
									<li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
									<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Recent Posts</h4>

								<div id="post-list-footer">
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-lg-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Total Downloads</h5>
								</div>

								<div class="col-lg-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Clients</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget subscribe-form clearfix">
							<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
							<div class="widget-subscribe-form-result"></div>
							<form action="include/subscribe.php" role="form" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="icon-email2"></i></div>
									</div>
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
									<div class="input-group-append">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</div>
								</div>
							</form>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-lg-6 clearfix bottommargin-sm">
									<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
								</div>
								<div class="col-lg-6 clearfix">
									<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="#" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-vimeo">
								<i class="icon-vimeo"></i>
								<i class="icon-vimeo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-yahoo">
								<i class="icon-yahoo"></i>
								<i class="icon-yahoo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/plugins.js"></script>

	<!-- Range Slider Plugin -->
	<script src="assets/js/components/rangeslider.min.js"></script>
	<!-- TinyMCE Plugin -->
	<script src="assets/js/components/tinymce/tinymce.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="assets/js/functions.js"></script>


</body>
</html>