html, body {
  height: 100%;
}

body {
  background-color: #f7f9f9;
}

.text-primary {
  color: #018ca7 !important;
}

.text-primary-dark {
  color: #1f6e84 !important;
}
.text-secondary {
  color: #003847 !important;
}

h3 {
  color: #495057 !important;
  font-size: 1.70rem;
}

.btn-primary {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#018ca7), color-stop(50%, #018ca7), to(#018ca7));
  background-image: linear-gradient(#018ca7, #018ca7 50%, #018ca7);
}

.btn-primary:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#018ca7), color-stop(50%, #037e96), to(#025f71));
  background-image: linear-gradient(#018ca7, #037e96 50%, #025f71 );
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #046072;
  border-color: #055a6b;
}

.btn-outline-light:hover {
  color: #2d2d2d;
  background-color: #f8f9fa54;
  border-color: #f8f9fa;
}

.light-trans-bg {
  background-color: rgba(255, 255, 255, 0.42) !important;
}

.light-bg {
  background-color: rgba(255, 255, 255, 0.71) !important;
}
.main .card .card-body {
  padding: 3.25rem !important;
} 

.parallax-header {
  background: #01364461!important;
}

.parallax-header .header-card {
  height: 80%;
  margin-left: 5%;
  min-width: fit-content;
}

.header-card .card-body {
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}

.card .selected-light {
  background: #ffffff8f;
}

.card .selected-success {
  background: #21a9af63;
}

.card .selected-success .service-heading {
  color: #003847 !important;
}

.service-item {
  padding-top: 15px;
}

.card .selected-success p {
  color: #018ca7 !important;
}
.page-title {
  padding-right: 0px;
  padding-left: 10px;
}

.single-page-content {
  padding: 2rem 3rem 2rem 3rem;
}

.section-heading {
  font-size:2.5em;
  font-weight: 500 !important;
  margin-top:0;
  margin-bottom:15px;
}

.service-heading {
  width: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: 10px;
}

#estimate-result {
  margin-top: 10px;
  margin-bottom: 30px;
}

.hidden {
  display: none !important;
}

#save-estimate {
  margin-bottom: 15px;
}